{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% form_theme form 'form/form_theme.html.twig' %}
{% block page_buttons %}
    {% include 'modal/delete.html.twig' %}
    {% if id is defined %}
        <button id="confirm_deletion" value="{{ path('category_delete', {id: id}) }}" onclick="confirmDeletion(this)">{% include('/icons/delete.svg') %} Löschen</button>
    {% endif %}
{% endblock %}
{% block content %}
    {% if errors is defined and errors is not empty %}
        <div>Beim {{errors.title}} ist ein Fehler aufgetreten.</div>
        <div>Fehlermeldung: {{ errors.message }}</div>
    {% endif %}
{{ form_start(form) }}
    {% if form.documents is defined %}
        <div data-prototype="{{ form_widget(form.documents.vars.prototype)|e('html_attr') }}" class="document_container">
            {% for documents in form.documents %}
                <div id="{{form.vars.id}}">
                    {{ form_row(documents.imageFile) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="content_container card form_container">
        {{ form_rest(form) }}
    </div>
    <div class="inline_container content_container" style="justify-content: right">
        <button type="submit">{% include('/icons/ic_publish_24px.svg') %} Speichern</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}
