{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% set id = form.vars.id|default(random(2147483647)) %}
{% set full_name = form.vars.full_name|default('message') %}
<div class="editor">
    <header>
        <label class="check_container">
            <input type="checkbox" onclick="switchEditorPreview(this, $('#{{ id }}_preview'), $('#{{ id }}'))">
            {% include('/icons/ic_eye_24px.svg') %}
        </label>
        <button onclick="insertAtCursor($('#{{ id }}'), '[b]', '[/b]')" type="button">
            {% include('/icons/ic_format_bold_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[i]', '[/i]')" type="button">
            {% include('/icons/ic_format_italic_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[u]', '[/u]')" type="button">
            {% include('/icons/ic_format_underlined_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[s]', '[/s]')" type="button">
            {% include('/icons/ic_format_strikethrough_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[color=]', '[/color]')" type="button">
            {% include('/icons/ic_format_color_text_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[math]', '[/math]')" type="button">
            {% include('/icons/ic_format_math_24px.svg') %}
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[warning]', '[/warning]')" type="button">
            Warnung
        </button>
        <button onclick="insertAtCursor($('#{{ id }}'), '[info]', '[/info]')" type="button">
            Info
        </button>
    </header>
    <div id="{{ id }}_preview" class="preview hide_on_load"></div>
    <textarea id="{{ id }}" name="{{ full_name }}">{{ form.vars.value|default('') }}</textarea>
</div>
