{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% block _experiment_documents_row %}
    <div class="title_container"><h2>Dokumente</h2><div class="button_container"><button type="button" onclick="addTagForm()">{% include('/icons/file_upload.svg') %} Datei hinzufügen</button></div></div>
    <div id="files" class="file_card_container" data-prototype="{{ form_row(form.vars.prototype)|e('html_attr') }}">
        {% set prototype = 'false' %}
        {% for entry in form.children %}
            {{ form_row(entry) }}
        {% endfor %}
        <div id="add_before"></div>
    </div>
    <script>
        var indexNr = {{ form.children|length }};

        function readURL(input, outp) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    outp.css("background-image", "url('" + e.target.result + "')");
                    outp.parent().parent().children("header").children("h2").text(input.files[0].name);
                    if (!e.target.result.includes("image")) {
                        outp.parent().parent().children("header").children(".preview_image").hide();
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function addTagForm() {
            var prototype = $("#files").data('prototype');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, indexNr);
            indexNr = indexNr + 1;
            $("#add_before").before(newForm);
            var inputFIle = $("#FU" + (indexNr - 1));
            var outp = $("#FI" + (indexNr - 1));
            inputFIle.trigger("click");
            inputFIle.change(function () {
                readURL(this, outp);
            });
        }

        function cbChange(obj) {
            var cbs = document.getElementsByClassName("check");
            for (var i = 0; i < cbs.length; i++) {
                cbs[i].checked = false;
            }
            obj.checked = true;
        }
    </script>

{% endblock %}
{% block _experiment_documents_entry_row %}
    <div class="card file" id="{{ form.vars.id }}">
        <header style="height: 32px">
            <label for="{{ form.marked.vars.id }}" class="check_container preview_image" {% if form.imageFile.vars.object and form.imageFile.vars.object.typ and 'image' in form.imageFile.vars.object.typ %}hidden{% endif %}>
                <input class="check" type="checkbox" id="{{ form.marked.vars.id }}"
                       name="{{ form.marked.vars.full_name }}" onchange="cbChange(this)"
                    {% if form.vars.data and form.vars.data.marked %}{{ 'checked' }}{% endif %}>
                {% include('/icons/preview_picture.svg') %}
            </label>
            <label for="{{ form.private.vars.id }}" class="check_container" {% if form.imageFile.vars.object and form.imageFile.vars.object.typ and 'image' in form.imageFile.vars.object.typ %}hidden{% endif %}>
                <input type="checkbox" id="{{ form.private.vars.id }}"
                       name="{{ form.private.vars.full_name }}"
                        {% if form.vars.data and form.vars.data.private %}{{ 'checked' }}{% endif %}>
                {% include('/icons/ic_lock_outline_24px.svg') %}</label>
            <h2>{{form.vars.value.name|default('')}}</h2>

            <button type="button" class="delete" onclick="$('#{{ form.vars.id }}').remove();">{% include('/icons/delete.svg') %}</button>
        </header>
        <input id="FU__name__" class="image_upload" type="file" name="{{ form.imageFile.vars.full_name }}[file]" style="display: none">
        <div class="image_and_comment">
            {% if form.imageFile.vars.object and form.imageFile.vars.object.typ %}
            <a class="image" href="{{ vich_uploader_asset(form.imageFile.vars.object, 'imageFile') }}" style="background-image: url('{{ vich_uploader_asset(form.imageFile.vars.object, 'imageFile') }}')"></a>
            <input class="imageposition" type="number" id="{{ form.position.vars.id }}"
                       name="{{ form.position.vars.full_name }}" value="{{ form.position.vars.data }}">
            {% else %}
                <div id="FI__name__" class="image"></div>
            {% endif %}
            <label>
                <textarea placeholder="Kommentar" name="{{ form.comment.vars.full_name }}">{{ form.comment.vars.data }}</textarea>
            </label>
        </div>
    </div>
{% endblock %}

{% block _device_loanedTo_row %}
    {{ form_label(form) }}
    <div class="loanedTo">
        {{ form_widget(form.imageFile) }}
        {{ form_row(form.comment) }}
    </div>
{% endblock %}

{% block _device_documents_row %}
    <div class="title_container"><h2>Dokumente</h2><div class="button_container"><button style="stroke: none; fill: #fff5db" type="button" onclick="addTagForm()">{% include('/icons/file_upload.svg') %} Datei hinzufügen</button></div></div>
    <div id="files" class="file_card_container" data-prototype="{{ form_row(form.vars.prototype)|e('html_attr') }}">
        {% set prototype = 'false' %}
        {% for entry in form.children %}
            {{ form_row(entry) }}
        {% endfor %}
        <div id="add_before"></div>
    </div>
    <script>
        var indexNr = {{ form.children|length }};

        function readURL(input, outp) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    outp.css("background-image", "url('" + e.target.result + "')");
                    outp.parent().parent().children("header").children("h2").text(input.files[0].name);
                    if (!e.target.result.includes("image")) {
                        outp.parent().parent().children("header").children(".preview_image").hide();
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function addTagForm() {
            var prototype = $("#files").data('prototype');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, indexNr);
            indexNr = indexNr + 1;
            $("#add_before").before(newForm);
            var inputFIle = $("#FU" + (indexNr - 1));
            var outp = $("#FI" + (indexNr - 1));
            inputFIle.trigger("click");
            inputFIle.change(function () {
                readURL(this, outp);
            });
        }

        function cbChange(obj) {
            var cbs = document.getElementsByClassName("check");
            for (var i = 0; i < cbs.length; i++) {
                cbs[i].checked = false;
            }
            obj.checked = true;
        }
    </script>
{% endblock %}
{% block _device_documents_entry_row %}
    <div class="card file" id="{{ form.vars.id }}">
        <header style="height: 32px">
            <label for="{{ form.marked.vars.id }}" class="check_container" {% if form.imageFile.vars.object and form.imageFile.vars.object.typ and 'image' in form.imageFile.vars.object.typ %}hidden{% endif %}>
                <input class="check preview_image" type="checkbox" id="{{ form.marked.vars.id }}"
                       name="{{ form.marked.vars.full_name }}" onchange="cbChange(this)"
                    {% if form.vars.data and form.vars.data.marked %}{{ 'checked' }}{% endif %}>
                {% include('/icons/preview_picture.svg') %}
            </label>
            <label for="{{ form.private.vars.id }}" class="check_container" {% if form.imageFile.vars.object and form.imageFile.vars.object.typ and 'image' in form.imageFile.vars.object.typ %}hidden{% endif %}>
                <input type="checkbox" id="{{ form.private.vars.id }}"
                       name="{{ form.private.vars.full_name }}"
                        {% if form.vars.data and form.vars.data.private %}{{ 'checked' }}{% endif %}>
                {% include('/icons/ic_lock_outline_24px.svg') %}</label>
            <h2>{{form.vars.value.name|default('')}}</h2>
            <button type="button" class="delete" onclick="$('#{{ form.vars.id }}').remove();">{% include('/icons/delete.svg') %}</button>
        </header>
        <input id="FU__name__" class="image_upload" type="file" name="{{ form.imageFile.vars.full_name }}[file]" style="display: none">
        <div class="image_and_comment">
            {% if form.imageFile.vars.object and form.imageFile.vars.object.typ %}
                <a class="image" href="{{ vich_uploader_asset(form.imageFile.vars.object, 'imageFile') }}" style="background-image: url('{{ vich_uploader_asset(form.imageFile.vars.object, 'imageFile') }}')"></a>
            {% else %}
                <div id="FI__name__" class="image"></div>
            {% endif %}

            <input class="imageposition" type="number" id="{{ form.position.vars.id }}"
                   name="{{ form.position.vars.full_name }}" value="{{ form.position.vars.data }}">
            <label>
                <textarea placeholder="Kommentar" name="{{ form.comment.vars.full_name }}">{{ form.comment.vars.data }}</textarea>
            </label>
        </div>
    </div>
{% endblock %}


{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{%- endblock form_row -%}

{% block _experiment_description_row %}
    {{- form_label(form) -}}
    {% include('/form/editor.html.twig') %}
{% endblock %}

{% block _device_description_row %}
    {{- form_label(form) -}}
    {% include('/form/editor.html.twig') %}
{% endblock %}

{% block _experiment_comment_row %}
    {{- form_label(form) -}}
    {% include('/form/editor.html.twig') %}
{% endblock %}

{% block _device_comment_row %}
    {{- form_label(form) -}}
    {% include('/form/editor.html.twig') %}
{% endblock %}
