{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'reservation/list.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reservation') }}
{% endblock %}
{% block content %}
{% if is_granted('ROLE_RESERVE_VIEWALL') %}
    <div id='calendar_public' class="card calender"></div>

    <script>
        const existing_events_public = [
            {% for reservation in booked_all_user %}
            {
                id: '{{ reservation.id|e('js') }}',
                title: '{{ reservation.name|e('js') }}',
                start: '{{ reservation.lectureDate|date("Y-m-d H:i", "Europe/Paris") }}',
                url: '{{ path('reservation_detail', {'id': reservation.id}) }}'
            },
            {% endfor %}
        ];
    </script>
{% endif %}
{% endblock %}
