{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'reservation/list.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reservation') }}
{% endblock %}
{% block content %}
    {% set remember_only = remembered is empty  %}
    <div class="view_container">
            <div class="container reservation">
                <form class="card reservation">
                    <select id="lesson" name="lesson">
                        <option value="new">Neue Vorlesung</option>
                        {% if not remember_only %}
                            {% for reservation in reservations %}
                                {% if date(reservation.lectureDate) > date() %}
                                <option value="{{ reservation.id }}" data-lecture-time="{{ reservation.lectureDate|date("m.d.Y H:i", "Europe/Paris") }}">{{ reservation.name }} am {{ reservation.lectureDate|date("d.m.Y \\u\\m H:i", "Europe/Paris") }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>

                    {% if not remember_only %}
                    <h3><span id="extra_experiments">Zusätzliche </span>Experimente</h3>
                    <ul>
                    {% for rem_exp in remembered %}
                        <li>
                            <a class="experiment_entry" href="{{ path('experiment_view_description', {id: rem_exp.experiment.id}) }}">{{ rem_exp.experiment.name }}</a>
                            <span class="experiment_lead_time_warning" data-preparation-time="{{ rem_exp.experiment.preparationTime }}">{% include('/icons/error_outline-24px.svg') %}</span>
                            <a class="clear" href="{{ path('reservation_cancel_experiment', {id: rem_exp.id}) }}">{% include('/icons/ic_clear_24px.svg') %}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <span id="lead_time_warning">{% include('/icons/error_outline-24px.svg') %} Experimente mit diesem Symbol können unter Umständen nicht rechtzeitig aufgebaut werden!</span>
                    <div id="new_lesson_info">
                        <h3>Vorlesung</h3>
                        <div>
                            <input class="first" type="text" placeholder="Name" name="name" required>
                            <input class=flatpickr type="text" placeholder="Vorführungszeit" data-id="datetime" name="lectureDate">
                            <textarea placeholder="Kommentar" name="comment"></textarea>
                        </div>
                    </div>
                    <button class="bookbutton" type="submit" formaction="{{ path('reservation_book') }}" formmethod="post" disabled="disabled">
                        {% if remember_only %}Merken{% else %}Buchen{% endif %}
                    </button>
                </form>
            </div>
        <div id='calendar_private' class="card calender"></div>
    </div>
    <script>
        const existing_events_private = [
            {% for reservation in reservations %}
            {
                id: '{{ reservation.id|e('js') }}',
                title: '{{ reservation.name|e('js') }}',
                start: '{{ reservation.lectureDate|date("Y-m-d H:i", "Europe/Paris") }}',
                url: '{{ path('reservation_detail', {'id': reservation.id}) }}'
            },
            {% endfor %}
        ];
    </script>
{% endblock %}
