{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'reservation/list.html.twig' %}
{% if is_granted('ROLE_RESERVE_STATISTIC') %}
{% endif %}
{% block content %}
    {% for experiment in top_reservations|reverse %}
        {% set width = experiment.count * count_multiplicator %}
    <a class="card statistic_bar" href="{{ path('experiment_view_description', {'id': experiment.reservation.experiment.id})}}">
        <div style="width: {{ width }}%;" class="statistic_bar_green">
            {% if width >= 50 %}
                {{ experiment.count }}x {{ experiment.reservation.experiment.name }}
            {% endif %}
        </div>
        {% if width < 50 %}
        <div class="statistic_bar_empty" style="width: {{ 100-width }}%;">
                {{ experiment.count }}x {{ experiment.reservation.experiment.name }}
        </div>
        {% endif %}
    </a>
    {% endfor %}
{% endblock %}
