{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'device/view.html.twig' %}
{% block content %}
    {% include 'image_slider.html.twig' %}
    <div class="content_container">
        {{ item.description|default(device.comment|default("Keine Beschreibung vorhanden"))|bbcode }}
        <hr>
        {{ item.comment|default(device.comment|default("Keine Bemerkung vorhanden"))|bbcode }}
    </div>
    <div class="inline_container">
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Geräte-ID' %}
            {% block content item.id %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Inventarnummer' %}
            {% block content item.inventorynumber %}
        {% endembed %}
        {% include 'sceletons/count_card.html.twig' with {'count': item.amount, 'loaned': item.loaned, 'repair': item.repair} %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Bestellnummer' %}
            {% block content item.ordernumber %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Hersteller' %}
            {% block content item.supplier %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'IFP Code' %}
            {% block content item.ifpcode %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Standort' %}
            {% block content %}
                <div>
                    <div>{{ item.locationMappings.location.name }}</div>
                    <div style="font-size: 150%;">{{ item.locationMappings.location.building }}/{{ item.locationMappings.location.roomnumber }}</div>
                    <div>{{ item.locationMappings.shelf }}</div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            prevArrow: '<button type="button" class="slick-prev">{{ source('/icons/arrow_back-24px.svg')|escape('js') }}</button>',
            nextArrow: '<button type="button" class="slick-next">{{ source('/icons/arrow_forward-24px.svg')|escape('js') }}</button>'
        });
    </script>
{% endblock %}
