{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'device/view.html.twig' %}
{% block content %}
<div class="inline_container">
    {% if item.documents is not empty %}
        {% for documents in item.documents %}
            {% if 'image' not in documents.typ and ('video/mp4' not in documents.typ or 'video/webm' not in documents.typ) and (is_granted("ROLE_SHOW_PRIVATE") or not documents.private) %}
                <a class="card info_card" href="{{ vich_uploader_asset(documents, 'imageFile') }}" download="{{ documents.name }}">
                    <div>{{ documents.name|split('.')|first }}</div>
                    <div class="file_icon">.{{ documents.name|split('.')|last }}</div>
                    <div>{{ documents.comment }}</div>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
