{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'device/view.html.twig' %}
{% block content %}
{% if item.labels is empty %}
    <div class="warning">Dieses Gerät findet in keinem Experiment Verwendung</div>
{% else %}
    <div class="preview_card_container">
        {% for label in item.labels %}
            {% for item in label.experiments %}
                {% include 'preview_card.html.twig' with {'type': 'experiment', 'title': item.name|default(''), 'description': item.description, 'id': item.id} %}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
