{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div id="deleteWarningModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal__content">
            <div class="modal-content">
                <div class="warning">Achtung!</div>
                <p>Wirklich löschen?</p>
                <p><button class="delete_btn">Löschen</button>
                    <button class="close_btn">Abbrechen</button></p>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("deleteWarningModal");
    var close_button = document.getElementsByClassName("close_btn")[0];
    var delete_button = document.getElementsByClassName("delete_btn")[0];
    var deletePath;

    function confirmDeletion(elementValue) {
        modal.style.display = "block";
        deletePath = elementValue.value;
    }

    close_button.onclick = function() {
        modal.style.display = "none";
    }

    delete_button.onclick = function(){
        modal.style.display = "none";
        window.open(deletePath, "_top");
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
