@import "../app";
.jstree-@{theme-name} {
	.jstree-node {padding-left: @def-margin / 2}
	.jstree-icon { background-repeat:no-repeat; background-color:transparent; }
	.jstree-anchor {height: auto !important;}
	.jstree-animated,
	.jstree-wholerow { padding: @def-margin / 2;}
	.jstree-hovered { background:@highlight-color !important; }
	.jstree-context { }
	.jstree-clicked { background:@highlight-color !important; }
	.jstree-no-icons .jstree-anchor > .jstree-themeicon { display:none; }
	.jstree-disabled {
		background:transparent; color:@disabled-color;
		&.jstree-hovered { background:transparent; box-shadow:none; }
		&.jstree-clicked { background:@disabled-bg-color; }
		> .jstree-icon { opacity:0.8; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ }
	}
	// search
	.jstree-search { font-style:italic; color:@search-result-color; font-weight:bold; }
	// checkboxes
	.jstree-no-checkboxes .jstree-checkbox { display:none !important; }
	&.jstree-checkbox-no-clicked {
		.jstree-clicked {
			background:transparent;
			box-shadow:none;
			&.jstree-hovered { background:@hovered-bg-color; }
		}
		> .jstree-wholerow-ul .jstree-wholerow-clicked {
			background:transparent;
			&.jstree-wholerow-hovered { background:@hovered-bg-color; }
		}
	}
	// stripes
	> .jstree-striped { min-width:100%; display:inline-block; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat; }
	// wholerow
	> .jstree-wholerow-ul .jstree-hovered,
	> .jstree-wholerow-ul .jstree-clicked { background:transparent; box-shadow:none; border-radius:0; }
	.jstree-wholerow { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
	.jstree-wholerow-hovered { background:@highlight-color; }
	.jstree-wholerow-clicked { background:@highlight-color; }
}