{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'experiment/view.html.twig' %}
{% block content %}
    {% if item.labels is empty %}
        <div class="warning">Diesem Experiment wurden keine Labels zugewiesen!</div>
    {% endif %}
    {% for label in item.labels %}
        {% include 'label/label.html.twig' %}
        {% if label.devices is empty %}
            <div class="warning">Es wurden keine passenden Geräte unter diesem Label gefunden!</div>
        {% else %}
            <div class="preview_card_container">
                {% for item in label.devices %}
                    {% include 'preview_card.html.twig' with {'title': item.name|default(''), 'description': item.description, 'id': item.id, type: 'device'} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
