{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% block page_buttons %}
    {% if is_granted('ROLE_DEVICES_ADD') %}
        <a href="{{ path('device_create') }}">{% include('/icons/ic_add_24px.svg') %} Gerät hinzufügen</a>
    {% endif %}
    <a href="{{ path('locations') }}">{% include('/icons/ic_place_24px.svg') %}Standorte</a>
    <a>{% include('/icons/view_list.svg') %}</a>
    <label class="switch">
        {% if listView %}
            <input type="checkbox" checked>
        {% else %}
            <input type="checkbox">
        {% endif %}
        <span class="viewmode round"></span>
    </label>
    <a>{% include('/icons/image-24px.svg') %}</a>
{% endblock %}
{% block content %}
    <div class="view_container">
        {% block sidebar %}{% endblock %}
        <div class="loading_icon hide_on_load">
            {% include('/icons/loading.svg') %}
        </div>
        <script>
            window.onload = function () {
                $('.hide_on_load').hide();
                $('.hide_on_load').removeClass('hide_on_load');
            }
        </script>
        {% if items is defined %}
            <div id="items" class="devices" style="width: 100%;">
                {% if listView %}
                    {% include 'preview_cards.html.twig' %}
                {% else %}
                    {% include 'list_entries.html.twig' %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

