{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% set main_title = item.id ~ ' ' ~item.name|default("???") %}

{% block page_buttons %}
    {% if is_granted('ROLE_DEVICES_EDIT') %}
        <a href="{{ path('device_edit', {'id': item.id, 'categoryId': 0}) }}">{% include('/icons/ic_mode_edit_24px.svg') %} Bearbeiten</a>
    {% endif %}
{% endblock %}

{% block titel_extension %}
    <div class="inline_container">
        {% for label in item.labels %}
            {% include 'label/label.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
{% block tabs %}
    <div class="tabs">
        {% include 'sceletons/tab.html.twig' with {'route': 'device_view_description', 'title': 'Beschreibung'} %}
        {% include 'sceletons/tab.html.twig' with {'route': 'device_view_experiments', 'title': 'Experimente'} %}
        {% include 'sceletons/tab.html.twig' with {'route': 'device_view_documents', 'title': 'Dateien'} %}
        {% include 'sceletons/tab.html.twig' with {'route': 'device_view_commits', 'title': 'Änderungen'} %}
    </div>
{% endblock %}
