{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'base.html.twig' %}
{% block header_title %}<h1>Buchungen</h1>{% endblock %}
{% block tabs %}
    <div class="tabs">
        {% include 'sceletons/tab.html.twig' with {'route': 'book_view_private', 'title': 'Eigene Buchungen'} %}
        {% if is_granted('ROLE_RESERVE_VIEWALL') %}
        {% include 'sceletons/tab.html.twig' with {'route': 'book_view_all', 'title': 'Buchungen aller Nutzer'} %}
        {% endif %}
        {% if is_granted('ROLE_RESERVE_STATISTIC') %}
        {% include 'sceletons/tab.html.twig' with {'route': 'book_view_statistics', 'title': 'Statistiken'} %}
        {% endif %}
    </div>
{% endblock %}
