{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'base.html.twig' %}
{% set main_title = 'Vorlesung: '~reservation.name %}
{% block page_buttons %}
    {% include 'modal/delete.html.twig' %}
    {% if reservation.status == 1 %}
        <button id="confirm_deletion" value="{{ path('reservation_cancel', {'id': reservation.id}) }}" onclick="confirmDeletion(this)">Stornieren</button>
    {% endif %}
{% endblock %}
{% block content %}
    {% if reservation.reservationExperiments is not empty %}
    <h2>Experimente</h2>
    <div class="list_entry_container">
        {% for item in reservation.reservationExperiments %}
            <div class="list_entry card {% if item.status == 2 %}canceled{% endif %}">
                <h2>{{ item.experiment.name }}</h2>
                <div class="content_button_container">
                    <a href="{{ path('experiment_view_description', {id: item.experiment.id}) }}">Anzeigen</a>
                    {% if item.status == 1 %}
                    <a href="{{ path('reservation_cancel_experiment', {'id': item.id}) }}">Entfernen</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h2>Zusatzinfos</h2>
    <div class="inline_container">
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Kommentar' %}
            {% block content reservation.comment %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Nutzer' %}
            {% block content reservation.user.name %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Status' %}
            {% block content %}
                {% if reservation.status == 0 %}Gemerkt
                {% elseif reservation.status == 1 %}Gebucht
                {% elseif reservation.status == 2 %}Storniert
                {% endif %}
            {% endblock %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'Start der Durchführung' %}
            {% block content %}
                <div>
                    <div>{{ reservation.lectureDate|date('H:i', "Europe/Paris") }}</div>
                    <div>{{ reservation.lectureDate|date('d.m.Y', "Europe/Paris") }}</div>
                </div>
            {% endblock %}
        {% endembed %}
        {% embed 'sceletons/info_card.html.twig' %}
            {% block title 'In Auftrag gegeben am' %}
            {% block content %}
                <div>
                    <div>{{ reservation.ordertime|date('H:i', "Europe/Paris") }}</div>
                    <div>{{ reservation.ordertime|date('d.m.Y', "Europe/Paris") }}</div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
