{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'base.html.twig' %}

{% macro recursiveTokenCategory(category) %}
    {% import _self as self %}
    {% if category.parent %}
        {{ self.recursiveTokenCategory(category.parent) }}
        <a href="{{ path('experiment_showCategory', {categoryId: category.id}) }}">{{ category.token|split('.')|last }}</a>
    {% else %}
        <a href="{{ path('experiment_showCategory', {categoryId: category.id}) }}">{{ category.token|split('.')|last }}</a>
    {% endif %}
    {% include('/icons/separator.svg') %}
{% endmacro %}

{% macro recursiveNameCategory(category) %}
    {% import _self as self %}
    {% if category.parent %}
        {{ self.recursiveNameCategory(category.parent) }}
        <a href="{{ path('experiment_showCategory', {categoryId: category.id}) }}">{{ category.name }}</a>
    {% else %}
        <a href="{{ path('experiment_showCategory', {categoryId: category.id}) }}">{{ category.token|split('.')|last }}</a>
    {% endif %}
    {% include('/icons/separator.svg') %}
{% endmacro %}

{% from _self import recursiveTokenCategory %}
{% from _self import recursiveNameCategory %}

{% block header_title %}
    <div class="tokens">
        {{ recursiveTokenCategory(item.category) }}
        <div>{{item.experimentNumber}}</div>
    </div>
    >>
    <div class="tokens">
        {{ recursiveNameCategory(item.category) }}
        <div>{{item.experimentNumber}}</div>
    </div>
    <h1>
        {% if item.status is defined and item.status != 'available' %}{% include 'icons/ic_visibility_off_24px.svg' %}{% endif %}{{ item.name }}
    </h1>
{% endblock %}
{% block page_buttons %}
    <a href="{{ path('experiment_previous_description', {'id' : item.experimentNumber, 'token' : item.category.token}) }}" >{% include('/icons/arrow_back-24px.svg') %}</a>
    <a href="{{ path('experiment_next_description', {'id' : item.experimentNumber, 'token' : item.category.token}) }}" >{% include('/icons/arrow_forward-24px.svg') %}</a>
    {% if is_granted('ROLE_EXPERIMENT_EDIT') %}
        <a href="{{ path('experiment_edit', {'id': item.id, 'categoryId': 0}) }}">{% include('/icons/ic_mode_edit_24px.svg') %} Bearbeiten</a>
    {% endif %}
    {% if is_granted('ROLE_RESERVE_BOOK') %}
        <a href="#" class="green_button" onclick="rememberExperiment({{ item.id }})">Buchen</a>
    {% endif %}
{% endblock %}
{% block titel_extension %}
    {% if item.SafetySigns is not empty %}
        <div class="inline_container" style="align-items: center">
            {% for sign in item.SafetySigns %}
                <img src="/images/icons/safety_signs/ISO_7010_{{ sign }}.svg" height="35px" style="margin-left: 8px; margin-bottom: 8px">
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block tabs %}
    <div class="tabs">
        {% include 'sceletons/tab.html.twig' with {'route': 'experiment_view_description', 'title': 'Beschreibung'} %}
        {% if is_granted('ROLE_DEVICES_SHOW') %}
            {% include 'sceletons/tab.html.twig' with {'route': 'experiment_view_devices', 'title': 'Geräte'} %}
        {% endif %}
        {% if is_granted('ROLE_EXPERIMENT_DOCUMENTS') %}
            {% include 'sceletons/tab.html.twig' with {'route': 'experiment_view_documents', 'title': 'Dateien'} %}
        {% endif %}
        {% if is_granted('ROLE_EXPERIMENT_COMMENT') %}
            {% include 'sceletons/tab.html.twig' with {'route': 'experiment_view_comments', 'title': 'Kommentare'} %}
        {% endif %}
        {% if is_granted('ROLE_EXPERIMENT_EDIT') %}
            {% include 'sceletons/tab.html.twig' with {'route': 'experiment_view_commits', 'title': 'Änderungen'} %}
        {% endif %}
    </div>
{% endblock %}
