{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'commit/sceleton.html.twig' %}
{% block body %}
Hat
{% if added_items|length == 1 or (added_items is empty and removed_items|length == 1) %}
    {% block name_singular %}das <strong>Objekt</strong>{% endblock %}
{% else %}
    {% block name_plural %}die <strong>Objekte</strong>{% endblock %}
{% endif %}
{% if added_items is not empty %}
    {% for item in added_items %}
        <span class="item_collection">
        {{ block('item') }}
        </span>
    {% endfor %} hinzugefügt
{% endif %}
    {% if added_items is not empty and removed_items is not empty %} und {% endif %}
    {% if removed_items is not empty %}
        <span class="item_collection">
        {% for item in removed_items %}
            {{ block('item') }}
        {% endfor %} entfernt
        </span>
    {% endif %}
{% endblock %}
