{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% elseif commit.field == "name" %}
        {% embed 'commit/small_text.html.twig' %}
            {% block field_name %}den <strong>Namen</strong>{% endblock %}
        {% endembed %}
{% elseif commit.field == "description" %}
        Änderte die <strong>Beschreibung</strong>
        <code>{{ diff(commit.data.0, commit.data.1)|raw|nl2br }}</code>
{% elseif commit.field == "comment" %}
    Änderte die <strong>Bemerkung</strong>
    <code>{{ diff(commit.data.0, commit.data.1)|raw|nl2br }}</code>
{% elseif commit.field == "preparation_time" %}
    Änderte die <strong>Vorbereitungszeit</strong> von <strong>{{ commit.data.0 }}</strong> in <strong>{{ commit.data.1 }}</strong>
{% elseif commit.field == "execution_time" %}
    Änderte die <strong>Durchführungszeit</strong> von <strong>{{ commit.data.0 }}</strong> in <strong>{{ commit.data.1 }}</strong>
{% elseif commit.field == "experiment_number" %}
    Änderte die <strong>Experimente Nummer</strong> von <strong>{{ commit.data.0 }}</strong> in <strong>{{ commit.data.1 }}</strong>
{% elseif commit.field == "status" %}
    Änderte den <strong>Status</strong> von <strong>{{ commit.data.0 }}</strong> in <strong>{{ commit.data.1 }}</strong>
{% elseif commit.field == "category" %}
    Änderte die <strong>Kategorie</strong>
{% elseif commit.field == "labels" %}
    Hat
    {% if commit.data.2|length == 1 or (commit.data.2 is empty and commit.data.1|length == 1) %}
        die <strong>Anforderung</strong>{% else %}
        die <strong>Anforderungen</strong>{% endif %}
    {% if commit.data.2 is not empty %}
        <span class="label_container">
                    {% for label in commit.data.2 %}
                        {% if label is not null %}{% include '../label/label.html.twig' %}{% else %}(gelöscht){% endif %}
                    {% endfor %}
                    </span> hinzugefügt
    {% endif %}
    {% if commit.data.2 is not empty and commit.data.1 is not empty %} und {% endif %}
    {% if commit.data.1 is not empty %}
        <span class="label_container">
                    {% for label in commit.data.1 %}
                        {% if label is not null %}{% include '../label/label.html.twig' %}{% else %}(gelöscht){% endif %}
                    {% endfor %} </span> entfernt
    {% endif %}
{% elseif commit.field == "safety_signs" %}
    {% set added_signs = array_diff(commit.data.1, commit.data.0) %}
    {% set removed_signs = array_diff(commit.data.0, commit.data.1) %}
    Hat
    {% if added_signs|length == 1 or (added_signs is empty and removed_signs|length == 1) %}das{% else %}die{% endif %}
    <strong>Sicherheitszeichen</strong>
    {% if added_signs is not empty %}
        {% for sign in added_signs %}
            <img src="/icons/safety_signs/ISO_7010_{{ sign }}.svg" height="35px" style="vertical-align:middle;">
        {% endfor %} hinzugefügt
    {% endif %}
    {% if added_signs is not empty and removed_signs is not empty %} und {% endif %}
    {% if removed_signs is not empty %}
        {% for sign in removed_signs %}
            <img src="/icons/safety_signs/ISO_7010_{{ sign }}.svg" height="35px" style="vertical-align:middle;">
        {% endfor %} entfernt
    {% endif %}
{% elseif commit.field == "inventorynumber" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>Inventarnummer</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>Inventarnummer</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte die <strong>Inventarnummer</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte das Feld <strong>Inventarnummer</strong>
    {% endif %}
{% elseif commit.field == "ordernumber" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>Bestellnummer</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>Bestellnummer</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte die <strong>Bestellnummer</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte das Feld <strong>Bestellnummer</strong>
    {% endif %}
{% elseif commit.field == "supplier" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>Hersteller</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>Hersteller</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte den <strong>Hersteller</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte das Feld <strong>Hersteller</strong>
    {% endif %}
{% elseif commit.field == "ifpcode" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>IFP Kennziffer</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>IFP Kennziffer</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte die <strong>IFP Kennziffer</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte das Feld <strong>IFP Kennziffer</strong>
    {% endif %}
{% elseif commit.field == "amount" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>Anzahl</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>Anzahl</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte die <strong>Anzahl</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte Feld <strong>Anzahl</strong>
    {% endif %}
{% elseif commit.field == "loaned" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>Ausgeliehen</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Felde <strong>Ausgeliehen</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte den Wert im Feld <strong>Ausgeliehen</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte Feld <strong>Ausgeliehen</strong>
    {% endif %}
{% elseif commit.field == "repair" %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Setzte den bisher leeren Wert des Feldes <strong>In Reparatur</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte den bisherigen Wert <strong>{{ commit.data.0 }}</strong> aus dem Feld <strong>In Reparatur</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte den Wert im Feld <strong>In Reparatur</strong> von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte Feld <strong>In Reparatur</strong>
    {% endif %}
{% else %}
     Änderte das Feld <strong>{{ commit.field }}</strong>
{% endif %}
    </div>
</div>
