{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}
{% set main_title = 'Änderungen' %}

{% block content %}
    {% set experiment = null %}
    {% set device = null %}
    {% for commit in commits|reverse %}
        {% if experiment != commit.experiment or device != commit.device %}
            {% set experiment = commit.experiment %}
            {% set device = commit.device %}
            {% if experiment is not null %}
                <div class="title_container"><h2>Experiment: {{ experiment.name }}</h2><div class="button_container"><a href="{{ path('experiment_view_description', {id: experiment.id}) }}">Anzeigen</a></div></div>
            {% endif %}
            {% if device is not null %}
                <div class="title_container"><h2>Gerät: {{ device.name }}</h2><div class="button_container"><a href="{{ path('device_view_description', {id: device.id}) }}">Anzeigen</a></div></div>
            {% endif %}
        {% endif %}
        {% include 'commit/commit.html.twig' %}
    {% endfor %}
{% endblock %}
