{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div class="card commit {% block commit_classes %}{% endblock %}">
    <div style="width: 100%">
        <small>
            {{ commit.author.name }} am {{ commit.timestamp|date("d.m.Y \\u\\m H:i", "Europe/Paris") }}
        </small>
    </div>
    <div>
        {% block body %}{% endblock %}
    </div>
    {% if needs_confirmation is defined and needs_confirmation %}
    {% if commit.ConfirmedBy is null %}
        <div style="text-align: right">
            <a class="reject" href="{{ path('commit_reject', {id: commit.id}) }}">Ablehnen</a>
            <a class="approve" href="{{ path('commit_approve', {id: commit.id}) }}">Bestätigen</a>
        </div>
    {% elseif commit.rejected %}
        <div style="text-align: right"><small class="reject">Von {{ commit.ConfirmedBy.name }} am {{ commit.ConfirmedAt|date("d.m.Y \\u\\m H:i", "Europe/Paris") }} abgelehnt</small></div>
    {% else %}
        <div style="text-align: right"><small class="approve">Von {{ commit.ConfirmedBy.name }} am {{ commit.ConfirmedAt|date("d.m.Y \\u\\m H:i", "Europe/Paris") }} bestätigt</small></div>
    {% endif %}
    {% endif %}
</div>
