{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'commit/sceleton.html.twig' %}
{% block body %}
    {% if commit.data.0 is empty and commit.data.1 is not empty%}
        Fügte {{ block('name') }} <strong>{{ commit.data.1 }}</strong> hinzu
    {% elseif commit.data.1 is empty and commit.data.0 is not empty%}
        Löschte {{ block('name') }} <strong>{{ commit.data.0 }}</strong>
    {% elseif commit.data.0 is not empty and commit.data.1 is not empty %}
        Änderte {{ block('name') }} von <strong>{{ commit.data.0 }}</strong> auf <strong>{{ commit.data.1 }}</strong>
    {% else %}
        Änderte {{ block('name') }}
    {% endif %}
{% endblock %}
