{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div class="card info_card">
    <small>Verfügbarkeit</small>
    <div>
        {% if (count-loaned-repair) > 0 %}
        {% for i in 1..(count-loaned-repair) %}
            {% include 'icons/select_circle.svg.twig' with {'status': 0, 'size': 16 } %}
        {% endfor %}
        {% endif %}
        {% if loaned > 0 %}
        {% for i in 1..(loaned) %}
            {% include 'icons/select_circle.svg.twig' with {'status': 1, 'size': 16 } %}
        {% endfor %}
        {% endif %}
        {% if repair > 0 %}
        {% for i in 1..(repair) %}
            {% include 'icons/select_circle.svg.twig' with {'status': 2, 'size': 16 } %}
        {% endfor %}
        {% endif %}
    </div>
    <div style="text-align: left">
        <div>{% include 'icons/select_circle.svg.twig' with {'status': 0, 'size': 16 } %} Verfügbar</div>
        <div>{% include 'icons/select_circle.svg.twig' with {'status': 1, 'size': 16 } %} Ausgeliehen</div>
        <div>{% include 'icons/select_circle.svg.twig' with {'status': 2, 'size': 16 } %} In Reparatur</div>
    </div>
</div>
