{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div class="card info_card">
    <small>{{ title }}</small>
    <svg width="100px" height="100px" style="stroke-width: 0; stroke: red; fill: rgb(255,46,46);">
        <circle r="50" cx="50" cy="50" style="stroke: none; fill: #1d1f25"/>
        {% if duration > 720 %}
            <circle r="30" cx="50" cy="50" style="fill: rgb(127,46,46);"/>
        {% endif %}
        <path d="M 50 0 A 50 50 0 {{ duration_clock_minutes(true, false, 50, 50, duration,50) }} L {{ duration_clock_minutes(false, false, 50, 50, duration,40) }} A 40 40 0 {{ duration_clock_minutes(true, true, 50, 50, duration, 40) }}"  style="stroke: #9c9eec; fill: #9c9eec"/>
        <path d="M 50 50 L 50 20 A 30 30 0 {{ duration_clock_hours(50, 50, duration, 30) }} z"  />
    </svg>
    <div>{{ duration|minuteInTime }}</div>
</div>
