{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'commit/sceleton.html.twig' %}
{% set needs_confirmation = false %}
{% block commit_classes %}create{% endblock %}
{% block body %}
{% if commit.field == "!create" and commit.device is not empty and commit.experiment is empty%}
    <strong>Hat ein neues Gerät angelegt</strong>
{% elseif commit.field == "!create" and commit.experiment is not empty and commit.device is empty %}
    <strong>Hat ein neues Experiment angelegt</strong>
{% else %}
    <strong>Hat da was Neues...</strong>
{% endif %}
{% endblock %}
