{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'commit/array.html.twig' %}
{% set added_items = commit.data.2 %}
{% set removed_items = commit.data.1 %}
{% block name_singular %}das <strong>Label</strong>{% endblock %}
{% block name_plural %}die <strong>Labels</strong>{% endblock %}
{% block item_container_class %}label_container{% endblock %}
{% block item %}
    {% if item is not null %}{% include 'label/label.html.twig' with {'label': item} %}{% else %}(gelöscht){% endif %}
{% endblock %}
