{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'commit/array.html.twig' %}
{% set added_items = array_diff(commit.data.1, commit.data.0) %}
{% set removed_items = array_diff(commit.data.0, commit.data.1) %}
{% block name_singular %}das <strong>Sicherheitszeichen</strong>{% endblock %}
{% block name_plural %}die <strong>Sicherheitszeichen</strong>{% endblock %}
{% block item %}
    <img src="/images/icons/safety_signs/ISO_7010_{{ item }}.svg" height="35px" style="vertical-align:middle;">
{% endblock %}
