{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% block begin %}{% endblock %}
<ul>
    {% for exp in reservation.reservationExperiments %}
        {% if exp.status == 2 %}
            <a href="{{ url('experiment_show', {id: exp.experiment.id}) }}"><li><del>{{ exp.experiment.name }}</del></li></a>
        {% else %}
            <a href="{{ url('experiment_show', {id: exp.experiment.id}) }}"><li>{{ exp.experiment.name }}</li></a>
        {% endif %}
    {% endfor %}
</ul>
Kommentar:
<blockquote>
    {{ reservation.comment }}
</blockquote>
