{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends 'reservation/mail/base.html.twig' %}
{% block begin %}
    {{ name }} hat eine Vorlesung <a href="{{ url('reservation_detail', {id: reservation.id}) }}">{{ reservation.name }}</a> am {{ reservation.lectureDate|date('d.m.Y \\u\\m H:i', "Europe/Paris") }} gebucht mit folgenden Experimenten:
{% endblock %}
