@header-color: #2c2c2c;
@base-color: #2c2c2c;
@highlight-color: tint(@base-color, 15%);
@text-color: #fff5db;
@text-color-light-dark: #d1c7b3;
@text-color-dark: #aea694;
@page-color: #09090d;
@content_color: #2c2c2c;
@content-color-bg: #171a1f;
@smartphone-width: 650px;
@base-shadow: 8px;
@base-shadow-color: rgba(0,0,0,0.2);
@field-color: #1d1c22;
@field-border-color: black;
@border-color: #818181;
@max-width: 1450px;
@button_height: 35px;
@select-disabled: tint(@base-color, 15%);
@select-hover: #6b748c;
@select-enabled: #9fc6ff;
@startpage-color: #5c5c5c;

@dark-green: #005d01;
@dark-green-highlight: tint(@dark-green, 20%);
@green: #12c516;
@light-green: #6cff65;
@dark-red: #65000d;
@dark-red-highlight: tint(@dark-red, 20%);
@light-red: #ffc0c3;

@preview_card_width: 300px;
@preview_card_height: 300px;
@preview_card_title_height: 2.5em;

@def-border-radius: 6px;
@def-margin: 16px;

@header-height: 42px;
@header-border: 5px;
@header-content: @header-height - 2 * @header-border;
