@import "app";

.content_button_container {
  display: flex;
  overflow: hidden;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: right;
  margin: @def-margin / 2;
}
.content_button_container a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  color: @text-color;
  height: @button_height;
  padding: 0 @def-margin / 2;
  border-radius: @def-border-radius;
}
.content_button_container a:hover, .content_button_container button:hover {
  background-color: @highlight-color;
}
.content_button_container a:focus, .content_button_container button:focus {
  background-color: @highlight-color;
}

.button_container {
    display: flex;
    border-radius: @def-border-radius;
  box-shadow: 0px 0px @base-shadow @base-shadow-color;
    overflow: hidden;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: @def-margin / 2;
  background-color: @base-color;
}

.title_container .button_container {
  margin-bottom: 0;
}
.title_container h2 {
  margin-bottom: 0;
}
#header_page .button_container {
  display: flex;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background-color: transparent;
}
.button_container>a {
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: center;
    text-decoration: none;
    color: @text-color;
  height: @button_height;
    padding: 0 @def-margin / 2;
}
.button_container>a:hover {
    background-color: @highlight-color;
}
.button_container>a:focus {
    background-color: @highlight-color;
}

.button_container_right {
  display: flex;
  justify-content: right;
  margin-top: @def-margin / 2;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.viewmode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.viewmode:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .viewmode {
    background-color: #2196F3;
}

input:focus + .viewmode {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .viewmode:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.viewmode.round {
    border-radius: 34px;
}

.viewmode.round:before {
    border-radius: 50%;
}

.green_button {
  background-color: @dark-green;
}

.green_button:hover, degree_button:focus {
  background-color: @dark-green-highlight !important;
}