@import "app";
.calender {
  padding: @def-margin / 2;
}

.view_container .calender {
  width: 100%;
}

.calender h2 {
  margin: 0;
  display: inline-block;
}

.fc-header-toolbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: @def-margin / 2;
}

.fc-center {
  text-wrap: none;
}

.fc-time-grid-container {
  display: block;
  width: 100%;
}

.calender table {
  width: 100%;
  border-width: 0;
}

.fc-dayGridMonth-view table {
  table-layout: fixed;
}

.calender td {
  width: 1fr;
}

.fc-widget-header {
  border-radius: @def-border-radius;
}

.fc-list-heading {
  background-color: @content-color-bg;
  padding: @def-margin / 2;
  border-radius: @def-border-radius;
  overflow: hidden;
}

.fc-list-item {
  padding: @def-margin / 2;
}

.fc-list-item:hover {
  background-color: @highlight-color;
  cursor: pointer;
}

.fc-ltr .fc-list-heading-alt, .fc-rtl .fc-list-heading-main {
  float: right;
}

.fc-list-table td {
  border-width: 0 0 0;
  padding: 8px 14px;
}

.fc-list-item-time {
  width: 100px;
}

.fc-time {
  color: @text-color-light-dark;
  display: block;
}

.calender a {
  text-decoration: none;
  color: @text-color;
}

.fc-event-container {
  background-color: @content-color-bg;
  border-radius: @def-border-radius;
  padding: @def-margin / 4;
}

.fc-event-container:hover, .fc-event-container:focus {
  background-color: @highlight-color;
  cursor: pointer;
}