@import "app";



.root_comment li {
  list-style: none;
  padding: @def-margin / 2;
  padding-bottom: 0;
  margin: 0;
}

.root_comment {
  margin: @def-margin / 2;
  padding-left: 0;
  padding-bottom: @def-margin / 2;
}

.root_comment ul {
  padding: 0;
  border-left: solid @def-margin / 2 @content-color-bg;

}

.root_comment small {
  color: @text-color-dark;
  margin-bottom: @def-margin / 2;
}

#new_comment {
  margin: @def-margin / 2;
  margin-top: @def-margin/2;
  width: auto;
  padding: @def-margin / 2;
}

#new_comment textarea {
  box-sizing: border-box;
}

button.comment {
  background-color: @dark-green;
}

button.comment:hover, button.comment:focus {
  background-color: @dark-green-highlight;
}