@import "app";

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: @dark-red;
    border-radius: @def-border-radius;
    margin: auto;
    padding: 20px;
    border: 1px solid @light-red;
    width: 25%;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    strong {
        text-align: center;
    }
}
.close {
    float: right;
}
.delete_confirm {
    float: left;
}
