@import "app";

.form_container {
    display: grid;
    grid-template-columns: 192px auto;
    grid-gap: @def-margin / 2;
}
label {
    justify-self: left;
    align-self: center;
}
@media (max-width: @smartphone-width) {
    .form_container {
        grid-template-columns: auto;
    }
    label {
        justify-self: center;
    }
}
form {
    width: 100%;
}
input[type=text], input[type=password], input[type=number], input[list=name], select, textarea {
    padding: 6px;
  border-color: @field-border-color;
  border-style: solid;
  border-width: 1px;
  border-radius: @def-border-radius;
  resize: vertical;
  font-family: sans-serif;
  font-size: 1em;
  justify-content: right;
  background-color: @field-color;
  color: @text-color;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #7aa7fb;
}

form>.card>div {
}

input[type=checkbox] {
    width: 32px;
    height: 32px;
    border: 8px;
    background-color: white;
    border: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    background-color: white;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
    background-color: @base-color;
    color: @text-color;
    border: none;
    font-size: 1em;
    border-radius: @def-border-radius;
  height: @button_height;
  padding: 0 @def-margin;
  cursor: pointer;
}
form button {
  box-shadow: 0px 0px @base-shadow @base-shadow-color;
}
button > * {
  pointer-events: none;
}
button:hover, button:focus {
    background-color: @highlight-color;
}

#device_locationMappings {
    width: 100%;
}


@media (max-width: 600px) {
    form>div {
        flex-wrap: wrap;
    }
    label{
        justify-content: left;
        text-align: center;
        margin: 0;
    }
}

.document_container {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.btn-primary {
    margin: @def-margin / 2;
    box-shadow: 0 0 @base-shadow @base-shadow-color;
    border-radius: @def-border-radius;
    background-color: @content_color;
    background-image: url("/icons/upload_file.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px;
    overflow: hidden;
    height: 200px;
}

.file>header {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-items: center;
  min-height: @preview_card_title_height;
}
.file>header>h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: @text-color;
  font-size: 0.75em;
  max-width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  margin: 0;
  font-weight: normal;
  overflow: hidden;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #aef7a5;
}
.selectable {
  fill: @highlight-color;
}


.check_container input ~ * {
  fill: @select-disabled;
}
.check_container:hover input ~ * {
  fill: @select-hover;
}
.check_container input:checked ~ * {
  fill: @select-enabled;
}

button.delete, button.delete:hover, button.focus {
  background-color: transparent;
  box-shadow: none;
  width: @preview_card_title_height;
  height: @preview_card_title_height;
  text-align: center;
  padding: 0 @def-margin / 2;
}
button.delete svg {
  fill: #8b2e30;
  stroke: none;
}
button.delete:hover svg, button.delete:focus svg {
  fill: #ff433f;
}

.file .check_container {
  width: @preview_card_title_height;
  min-width: @preview_card_title_height;
  margin-right: -8px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_container:hover {

}

.image_and_comment {
  margin: 0 @def-margin / 2 @def-margin / 2 @def-margin / 2;
}

.image_and_comment > .image {
  display: block;
  border-top-left-radius: @def-border-radius;
  border-top-right-radius: @def-border-radius;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-bottom: none;
  height: 150px;
  background-color: @field-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.file_card_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  padding: @def-margin / 4;
}

.file {
  margin: @def-margin / 4;
}

.file textarea {
  margin: 0;
  box-sizing: border-box;
  width: 100%; min-width: 100%;
  height: 75px;
  resize: none;
  display: block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loanedTo textarea {
    margin: 0;
    border-radius: @def-border-radius;
    box-sizing: border-box;
    width: 100%;
}

.loanedTo img {
    border-radius: @def-border-radius;
    width: 100%;
}

.imageposition {
  border-radius: 0 !important;
}