@import "app";



body>header {
  background-color: @header-color;
  color: @text-color;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: @header-height;
  box-shadow: 0px 0px @base-shadow @base-shadow-color;
  z-index: 2;
}
#header_spacer {
    height: @header-height;
}

body>header>.max_width_container>div a {
    display: inline-block;
    text-decoration: none;
    color: @text-color;
    padding: @header-border;
    white-space: nowrap;
}
body>header>.max_width_container>div a:hover {
    background-color: @highlight-color;
}
body>header>.max_width_container>div a:focus {
    background-color: @highlight-color;
    outline: none;
}
div.logo {
    display: inline-block;
    height: @header-content;
    vertical-align: middle;
    text-align: center;
    margin-right: @header-border;
    font-size: (@header-content - 4px) / 2;
}
@media (max-width: 512px) {
    div.logo {
        display: none;
    }
}
a>svg, button>svg {
  display: inline-block;
  height: @header-content;
  vertical-align: middle;
  text-align: center;
  fill: @text-color;
}
body>header a>svg, body>header button>svg {
   display: inline-block;
   height: @header-content;
   vertical-align: middle;
   text-align: center;
   fill: transparent;
   stroke: @text-color;
  width: 32px;
}

body>header a.filled>svg {
  fill: @text-color;
  stroke: transparent;
}

.max_width_container>input {
    font-size: 1.25em;
    text-align: center;
}
.max_width_container>input::placeholder {
    color: tint(@field-color, 50%);
}
.max_width_container>input:hover {
    background-color: tint(@field-color, 5%);
}
.max_width_container>input:focus {
    background-color: @field-color;
    color: @text-color;
}

.max_width_container {
  margin-left: auto;
  margin-right: auto;
  background-color: @header-color;
  color: @text-color;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(32px, 500px) minmax(auto, 1fr);
  grid-gap: @def-margin / 2;
  align-items: center;
  width: 100%;
  max-width: @max-width;
  height: @header-height;
  z-index: 2;
}

.dropdown_anchor {
  display: inline-block;
  position: relative;
}

/* User dropdown */
.dropdownLogin-form {
    display: none;
    position: absolute;
    background-color: @base-color;
    min-width: 160px;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    z-index: 999;
    border-radius: 0px 0px @def-border-radius @def-border-radius;
    border-top-color: @text-color;
    border-top-style: dashed;
    border-top-width: 0;
    overflow: hidden;
    padding: @def-margin / 2;
    white-space: nowrap;
    width: auto;
  right: 0;
}

.dropdownLogin-form>a {
    display: block;
    text-decoration: none;
    color: @text-color;
    padding: @header-border;
    white-space: nowrap;

}

.dropdownLogin-form>a:hover {
    background-color: @highlight-color;
}
.dropdownLogin-form>a:focus {
    background-color: @highlight-color;
    outline: none;
}

@media (max-width: 750px)  {
  header>.max_width_container>div>a {
    font-size: 0;
  }
}
