@import "app";

.card.reservation {
  padding: @def-margin / 2;
  display: block;
  width: 350px;
}

.card.reservation input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
}

.card.reservation input[type="text"]:first-child {
  border-radius: @def-border-radius @def-border-radius 0 0;
}
.card.reservation ul {
  margin: 0;
  padding-left: 0;
}

.card.reservation li {
  background-color: @content-color-bg;
  border-radius: @def-border-radius;
  margin-bottom: @def-margin / 2;
  min-height: 28px;
  display: flex;
  justify-content: space-between;
}

.card.reservation .experiment_entry {
  display: inline-block;
  padding: @def-margin / 2;
  width: 100%;
}

.card.reservation h3 {
  margin-left: 0;
}

#extra_experiments {
  display: none;
}

.card.reservation textarea {
  border-radius: 0 0 @def-border-radius @def-border-radius;
  margin-bottom: @def-margin / 2;
  box-sizing: border-box;
  width: 100%;
}

a.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @dark-red;
  fill: @light-red;
  width: 35px;
  min-width: 35px;
  min-height: 35px;
  text-align: center;
  border-radius: @def-border-radius;
  float: right;
}

a.clear:hover, a.clear:focus {
  background-color: @dark-red-highlight;
}

.card.reservation button {
  display: block;
  width: 100%;
  margin: 0;
  background-color: @dark-green;
}

.card.reservation select {
}

.card.reservation button:hover, .card.reservation button:focus {
  display: block;
  width: 100%;
  margin: 0;
  background-color: @dark-green-highlight;
}

.card.reservation button:disabled {
  background-color: tint(@content_color, 10%);
  color: @text-color-dark;
  cursor: auto;
}

.card.reservation a {
  text-decoration: none;
  color: @text-color;
}

.card.reservation a:hover, .card.reservation a:focus {
  text-decoration: underline;
}

.container.reservation h2 {
  margin: @def-margin / 2;
  text-align: center;
}

#lead_time_warning {
}

.experiment_lead_time_warning {
  display: flex;
  padding-right: @def-margin / 2;
  justify-content: center;
  align-items: center;
}