@import "app";

.tabs {
  display: flex;
  margin-left: @def-margin / 2;
  flex-wrap: wrap;
}

.tabs a {
  background-color: transparent;
  color: @text-color-dark;
  float: left;
  outline: none;
  cursor: pointer;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  padding: @def-margin / 2 @def-margin @def-margin / 2 - 2px @def-margin;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
}

/* Change background color of buttons on hover */
.tabs a:hover, .tabs a:focus {
  background-color: @highlight-color;
}

/* Create an active/current tablink class */
.tabs a.active {
  color: @text-color;
  border-bottom-width: 2px;
  border-bottom-color: @text-color;
  border-bottom-style: solid;
}