@import "app";

.wrapper{
    margin-top: 15px;
}

.row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: min-content;
    max-height: 800px;
}

.column {
    padding-left: 20px;
    padding-right: 20px;
}

.column h2 {
    text-align: center;
    background-color:@header-color;
    vertical-align: middle;
    padding: 20px;
    margin: 10px 0px 5px 0px;
}

//############### LEFT ##################################################

#flex{
    flex:2;
    padding-top: 3px;
}

#experiment_show{
    padding: 10px;
    background-color: @startpage-color;
}

#experiment_show h2{
    padding: 0px 6px 0px 6px !important;
}

#exp_img{
    padding-bottom: 5px;
}

.dropdown{
    display: none;
}
//############### MIDDLE ##################################################

#welcome_column{
    flex:1;
    flex-direction: column;
    margin-top: 10%;
}

.welcome_field{
    padding: 5px;
    text-align: center;
    background-color: @startpage-color;
    line-height: 30px;
    margin-bottom:  5%;
}

.welcome_field p{
    display: block;
    line-height: initial;
    padding-bottom: 10px;       //-----------------> NEW
    border-bottom: dotted silver 1px;   //-----------> NEW
}

#contact{
    text-align-all: center;
    padding-bottom: 10% !important;
}

//############### RIGHT ##################################################

.explanation {
    flex:2;
    background-color: @startpage-color;
    padding: 10px;
    min-height: 600px;
}

.tab{
    text-align: left;
    background-color: @startpage-color;
    padding-bottom: 20px;
}

.role_explanation{
    border-top: solid @page-color 5px;
    padding: 10px;
    background-color: @startpage-color;
    margin: -10px;
}

.role_explanation p{
    padding: 10px;
    display: inline-block;
    border-bottom: dotted silver 1px;
}

#gbu{
    padding-top: 20px;
    padding-bottom: 20px;
}

#gbu p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.explanation .warning{
    background-color: @header-color;
}



//############### RESPONSIVE ##################################################

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
