<form action="{{ path('comment') }}" method="post" id="{{ comment.id }}" class="reply_comment" style="display: none">
    {% include 'form/editor.html.twig' %}
    <input type="hidden" name="experiment" value="{{ item.id }}">
    {% if comment.id is defined %}
        <input type="hidden" name="parent" value="{{ comment.id }}">
    {% endif %}
    <button type="submit" class="comment">Kommentieren</button>
</form>
