<form action="{{ path('comment') }}" method="post" id="new_comment" class="card" >
    {% include 'form/editor.html.twig' %}
    <input type="hidden" name="experiment" value="{{ item.id }}">
    <button type="submit" class="comment">Kommentieren</button>
</form>
{% for comment in item.comments|reverse %}
    {% if comment.parentComment is empty %}
        <ul class="card root_comment">
            {% include 'experiment/view/comment/raw.html.twig' with {'comment': comment} %}
        </ul>
    {% endif %}
{% endfor %}