<li>
    <small> {{ comment.user.name }} am {{ comment.timestamp|date('d.m.Y \\u\\m H:i', "Europe/Paris") }}</small>
    <div>{{ comment.message|bbcode }}</div>
    <div id="{{ comment.id }}">
        {% include 'experiment/view/comment/add.html.twig' with {'comment': comment} %}
        <a href="#" class="open_reply_comment">Antworten</a>
        {% if is_granted('ROLE_EXPERIMENT_COMMENT_DELETE') %}
            <a href="#" class="delete_comment">Löschen</a>
        {% endif %}
    </div>
    {% for child in comment.comments %}
        <ul>{% include 'experiment/view/comment/raw.html.twig' with {'comment': child} %}</ul>
    {% endfor %}
</li>