{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ main_title|default('Datenbank Physik') }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    <script src="/js/tagify.js"></script>
    <script src="/js/drop_down_menu.js"></script>
    <script src="/js/searchfield.js"></script>
    <script src="/js/reservation_button.js"></script>
</head>
<body>
{% include 'header.html.twig' %}
<div class="header_page">
    <div class="second_title">
        <div class="title_container">
            <div>
                {% block header_title %}
                    <h1>{{ main_title|default('Datenbank Physik') }}</h1>
                {% endblock %}
                {% block titel_extension %}
                {% endblock %}
            </div>
            <div class="content_button_container">
                {% if page_buttons is defined %}
                    {% for button in page_buttons %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path(button[1]) }}">{% if button|length > 2 %} {% include( button[2]) %} {% endif %} {{ button[0] }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block page_buttons %}{% endblock %}
            </div>
        </div>
        {% block titel_extension_below %}
        {% endblock %}
        {% block tabs %}
        {% endblock %}
    </div>
</div>
<div id="main_page">
    {% block content %}{% endblock %}
</div>
{% include 'search.html.twig' %}

<div id="header_spacer"></div>
{#<a id="version" href="{{ path('version') }}">V1.1.1</a>#}

{% block javascripts %}
    {{ encore_entry_script_tags('sidebar') }}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="/js/editor.js"></script>
{% endblock %}
</body>
</html>
