{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% set u_id = random(2147483647) %}
<div class="card file">
    <header style="height: 32px">
        <label class="check_container"><input type="radio" name="preview_image">{% include('/icons/preview_picture.svg') %}</label>
        <h2>{{element.name}}</h2>
        <label class="check_container"><input type="checkbox" name="delete">{% include('/icons/delete.svg') %}</label>
    </header>
    <div class="image_and_comment">
        <a class="image" href="{{ vich_uploader_asset(element, 'imageFile') }}" style="background-image: url('{{ vich_uploader_asset(element, 'imageFile') }}')"></a>
        <input type="text" placeholder="Kommentar" value="{{ element.comment }}">
    </div>
</div>
