{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<header>
    <div class="max_width_container">
        <div>
            <a href="/"><div class="logo">Datenbank<br>der Physik</div>{{ source('icons/database.svg') }}</a>
        </div>
        <input id="search_text" type="text" name="fname" placeholder="Suche..." oninput="search();">
        <div style="justify-self: right; white-space: nowrap">
            <a href="{{ path('experiments') }}">{{ source('icons/experiment.svg') }} Experimente</a>
            {% if is_granted('ROLE_DEVICES_SHOW') %}
                <a href="{{ path('devices') }}">{{ source('icons/inventory.svg') }} Inventar</a>
            {% endif %}
            {% if is_granted('ROLE_RESERVE_BOOK') %}
            <a href="{{ path('book_view_private') }}" class="filled">{{ source('icons/ic_today_48px.svg') }} Buchungen</a>
            {% endif %}

            <div class="dropdown_anchor">
            {% if app.user %}
                    {% if is_granted('ROLE_USER_ADMIN') %}
                        <a href="#" onKeyDown="toggleDropDownButton(event, 'dropdownUser')"
                           onclick="toggleDropDownClick('dropdownUser')" class="filled">{{ source('icons/ic_person_48px.svg') }} Admin</a>
                        <div id="dropdownUser" class="dropdownLogin-form">
                            <a href="{{ path('user') }}">Nutzerübersicht</a><br>
                            <a href="{{ path('releases') }}">Freigabe</a><br>
                            <a href="{{ path('commit_show_all') }}">Änderungen</a><br>
                            <a href="{{ path('comments_show_all') }}">Kommentare</a><br>
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% else %}
                        <a href="#" onKeyDown="toggleDropDownButton(event, 'dropdownUser')"
                           onclick="toggleDropDownClick('dropdownUser')" class="filled">{{ source('icons/ic_person_48px.svg') }} {{ app.user.username }}</a>
                        <div id="dropdownUser" class="dropdownLogin-form">
                            <a href="{{ path('user_profile') }}">Profil</a><br>
                            {% if is_granted('ROLE_VLA') %}
                                <a href="{{ path('comments_show_all') }}">Kommentare</a><br>
                            {% endif %}
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
            {% else %}
                <a href="#" onKeyDown="toggleDropDownButton(event, 'dropdownUser')" onclick="toggleDropDownClick('dropdownUser')" class="filled">{{ source('icons/ic_person_48px.svg') }} Login</a>
                {% include 'loginForm.html.twig' %}
            {% endif %}
            </div>
        </div>
    </div>
</header>
<div id="header_spacer"></div>
