{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if item.documents is not empty %}
    <div class="slider">
        {% for documents in item.documents|sort((a,b) => a.position <=> b.position) %}
            {% if is_granted("ROLE_SHOW_PRIVATE") or not documents.private %}
            {% if 'image' in documents.typ %}
                <a href="{{ vich_uploader_asset(documents, 'imageFile') }}" class="card">
                    <img src="{{ vich_uploader_asset(documents, 'imageFile') }}" alt="{{ documents.comment }}" />
                    {% if documents.comment is not empty %}
                    <div class="onscreen_comment">{{ documents.comment }}</div>
                    {% endif %}
                </a>
            {% elseif 'video' in documents.typ and ('mp4' in documents.typ or 'webm' in documents.typ) %}
                <div class="card">
                    <video height="350px" controls>
                        <source src="{{ vich_uploader_asset(documents, 'imageFile') }}" type="{{ documents.typ }}">
                        <p>Dein Browser unterstützt kein HTML5 video. Hier ist ein
                            <a href="{{ vich_uploader_asset(documents, 'imageFile') }}" download="{{ documents.name }}">Link zum Video</a>.</p>
                    </video>
                </div>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
