{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div class="jstree-container card" id="sidebar">
    {% if is_granted('ROLE_CATEGORY_ADD') or is_granted('ROLE_CATEGORY_EDIT') %}
    <div class="content_button_container">
        {% if is_granted('ROLE_CATEGORY_ADD') %}
        <a href="{{ path('category_create') }}">{% include('/icons/ic_playlist_add_24px.svg') %}</a>
        {% endif %}
        {% if is_granted('ROLE_CATEGORY_EDIT') %}
        <script type="text/javascript">
            function edit_category(){
                var selected_id = $('#jstree').jstree(true).get_selected();
                if (selected_id != "") {
                    let url = "/categorys/" + String(selected_id) + "/edit";
                    window.location.href = url;
                }
            }
        </script>
        <a href="#" id="cat_edit" onclick="edit_category();">{% include('/icons/ic_edit_category_24px.svg') %}</a>
        {% endif %}
    </div>
    <hr>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="jstree" style="display: none;">
                <ul>
                    {% for category in categories %}
                        {{ _self.recursiveCategory(category) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% macro recursiveCategory(category) %}
    <li data-jstree='{"opened":false,"selected":false}' id={{ category.id }}>
        {{ category.token }}: {{ category.name }}
        {% if category.children is defined %}
            <ul>
                {% for child in category.children %}
                    {{ _self.recursiveCategory(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}


