{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% set u_id = random(2147483647) %}

<div id="{{ u_id }}" class="list_entry card">
    <h2>{% if item.status is defined and item.status != 'available' %}{% include 'icons/ic_visibility_off_24px.svg' %}{% endif %}{{ title }}</h2>
    <div class="content_button_container">
        <a href="{{ path(type ~ '_view_description', {id: id}) }}">Anzeigen</a>
        {% if is_granted('ROLE_ALL_EDIT') %}
            <a href="{{ path(type ~ '_edit', {id: id}) }}">Bearbeiten</a>
        {% endif %}
    </div>
</div>
