{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% block content %}

<div class="view_container">
    {% if categories is defined %}
        {% include 'jstree.html.twig' with {'categories': categories} %}
    {% endif %}
    <div class="loading_icon hide_on_load">
        {% include('/icons/loading.svg') %}
    </div>
    <script>
        window.onload = function () {
            $('.hide_on_load').hide();
            $('.hide_on_load').removeClass('hide_on_load');
        }
    </script>
    {% if items is defined %}
        <div class="preview_card_container">
            {% include 'preview_cards.html.twig'%}
        </div>
    {% endif %}
</div>
{% endblock %}

