{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<form action="{{ path('app_login') }}" id="dropdownUser" class="dropdownLogin-form" method="post">

    <label for="inputName">Nutzername</label><br>
    <input type="text" name="name" id="inputName" class="form-control" required autofocus><br>
    <label for="inputPassword">Passwort</label><br>
    <input type="password" name="password" id="inputPassword" class="form-control" required><br>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button type="submit">
        Login
    </button>
</form>
