{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% set u_id = random(2147483647) %}

<div id="{{ u_id }}" class="preview_card card">
    <header>
        {% if item.status is defined and item.status != 'available' %}{% include 'icons/ic_visibility_off_24px.svg' %}{% endif %}
        <h2 onclick="document.getElementById('pcd{{ u_id }}').focus()">
            {{ title }}
        </h2>
        <div class="dropdown">
            <button onKeyDown="toggleDropDownButton(event, 'dropdown{{ u_id }}')" onclick="toggleDropDownClick('dropdown{{ u_id }}')" class="dropbtn">{% include('/icons/ic_more_vert_24px.svg') %}</button>
            <div id="dropdown{{ u_id }}" class="dropdown-content">
                {% if is_granted('ROLE_EXPERIMENT_EDIT') %}
                    <a tabindex="0" href="{{ path(type ~ '_edit', {id: id, categoryId: categoryId|default(0)}) }}">Bearbeiten</a>
                {% endif %}
                <!--<a href="{{ path(type ~ '_delete', {id: id, categoryId: categoryId|default(0)}) }}">Löschen</a>
                <a href="#">Freigeben</a>
                <a href="#">Sperren</a>
                <a href="#">Ins Rampenlicht stellen</a>-->
            </div>
        </div>
    </header>
    <a class="description" id="pcd{{ u_id }}"
       href="{{ path(type ~ '_view_description', {id: id}) }}">
        {% if item.documents is defined and item.documents|length > 0 %}
            {% set flag = null %}
            {% for d in item.documents | filter(d => 'image' in d.typ and d.marked ) %}
                {% if flag is null %}
                    <div class="descr_image"
                         style="background-image: url('{{ vich_uploader_asset(d, 'imageFile') }}')"></div>
                    {% set flag = 'found' %}
                {% endif %}
            {% endfor %}
            {% if flag is null %}
                <div class="descr_image" style="background-image: url('/images/icons/experiment.svg');background-size: 30%;"></div>
            {% endif %}
        {% else %}
            <div class="descr_image" style="background-image: url('/images/icons/experiment.svg');background-size: 30%;"></div>
        {% endif %}
        <div class="descr_text">
            {{ description|bbcode }}
        </div>
    </a>
    {% if item.SafetySigns is defined %}
        <div class="symbols">
            {% for sign in item.SafetySigns %}
                <img src="/images/icons/safety_signs/ISO_7010_{{ sign }}.svg" height="48px">
            {% endfor %}
        </div>
    {% endif %}
    <!--div class="buttons">
        <a href="#" data-id="{{ id }}" class="ShowDescription">Info</a>
        <a href="{{ class|default(app.request.pathinfo) }}/{{ id }}/edit">Bearbeiten</a>
        <a href="{{ class|default(app.request.pathinfo) }}/{{ id }}/delete">Löschen</a>
    </div-->
</div>
