{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% if items is defined %}
<div class="preview_card_container">
{% for item in items %}
    {% if item.category is defined %}
        {% set title = item.category.token ~ '.' ~  item.experimentNumber ~ ' ' ~ item.name%}
    {% else %}
        {% set title = item.id ~ '. ' ~ item.name %}
    {% endif %}
    {% include 'preview_card.html.twig' with {'title': title|default(''), 'description': item.description|default(''), 'id': item.id, 'categoryId': categoryId|default(0)} %}
{% endfor %}
</div>
{% endif %}
