{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% block content %}
    {% if notifications|length > 0 %}
        <ul>
            <table class="weeks" style="border-spacing: 30px; border: 0; text-align: left">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Typ</th>
                    <th>Feld</th>
                    <th>ID</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                {% for n in notifications %}
                    <tr>
                        <td>{{ n['Datum']|date('d.m.Y \\u\\m H:i', "Europe/Paris") }}</td>
                        <td>{{ n['Typ'] }}</td>
                        <td>{{ n['Feld'] }}</td>
                        <td>{{ n['ID'] }}</td>
                        <td>{{ n['Info'] }}</td>
                        <td>{% if buttons is defined %}
                                <div class="button_container" style="white-space: nowrap">
                                    <a href="{{ path(buttons[n['Typ']][0][1], { 'id': n['ID']}) }}">{{ buttons[n['Typ']][0][0] }}</a>
                                </div>
                            {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
    {% endif %}
{% endblock %}
