{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

<div id="search_page">
    <div class="header_page">
        <div class="search_title">
            <h1>Suche</h1>
            <select id="search_filter" onchange="search()">
                <option value="experiments">Experimente</option>
                {% if is_granted('ROLE_DEVICES_SHOW') %}
                    <option value="devices">Geräte</option>
                    <optgroup label="Geräte suchen nach">
                        <option value="ifpcode">IFP-Code</option>
                        <option value="inventorynumber">Inventarnummer</option>
                        <option value="id">Geräte-ID</option>
                        {#<option value="afterlocation">Standort</option>#}
                        <option value="aftershelf">Regalnummer</option>
                    </optgroup>
                {% endif %}
                {#<option value="category">Kategorie</option>
                <option value="locations">Standorte</option>
                <option value="labels">Labels</option>#}
            </select>
        </div>
    </div>
    <div id="search_container">
    </div>
</div>
