{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% block content %}
    {% if comments|length > 0 %}
        <ul>
            <table class="weeks" style="border-spacing: 30px; border: 0; text-align: center">
                <thead>
                <tr>
                    <th>Experiment</th>
                    <th>Nutzer</th>
                    <th>Kommentar</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>
                {% for c in comments %}
                    <tr>
                        <td><a href="{{ path('experiment_view_comments', {id: c.getExperiment().getId()}) }}">{{ c.getExperiment().getName() }}</a></td>
                        <td>{{ c.getUser().getName() }}</td>
                        <td>{{ c.getMessage() }}</td>
                        <td>{{ c.getTimestamp().format('H:i:s d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
    {% endif %}
{% endblock %}
