{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% block content %}
    {% include 'modal/delete.html.twig' %}
    {% if user|length > 0 %}
        <ul>
            <table class="weeks" style="border-spacing: 30px; border: 0; text-align: center">
                <thead>
                <tr>
                    <th>Nutzer ID</th>
                    <th>Name</th>
                    <th>E-Mail-Adresse</th>
                    <th>Rolle</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for u in user %}
                <tr>
                    <td>{{ u.getID() }}</td>
                    <td>{{ u.getName() }}</td>
                    <td>{{ u.getEmail() }}</td>
                    <td>{% if u.getRoles()[0] == 'ROLE_ADMIN' %}
                            Admin
                        {% elseif u.getRoles()[0] == 'ROLE_VLA' %}
                            Vla
                        {% elseif u.getRoles()[0] == 'ROLE_DEMO' %}
                            Demo
                        {% else %}
                            User
                        {% endif %}</td>
                    <td>{% if buttons is defined %}
                            <div class="button_container">
                            {% for button in buttons %}
                                {% if button[1] == 'user_delete' %}
                                    <button id="confirm_deletion" value="{{ path(button[1], { 'id': u.getID() }) }}" onclick="confirmDeletion(this)">{{ button[0] }}</button>
                                {% else %}
                                    <a href="{{ path(button[1], { 'id': u.getID() }) }}">{{ button[0] }}</a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
    {% endif %}
{% endblock %}
