{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% set main_title = 'Versionen' %}

{% block content %}
    <h2>V1.1.4</h2>
    <ul>
        <li>Dokumente können auf intern umgeschaltet werden</li>
    </ul>
    <h2>V1.1.3</h2>
    <ul>
        <li>Interne Tests</li>
        <li>Datenupload auf 100MB erhöht</li>
        <li>Kommentare können nur noch mit entsprechender Berechtigung eingesehen werden</li>
        <li>Die Beschreibung kann leer gelassen werden</li>
    </ul>
    <h2>V1.1.2</h2>
    <ul>
        <li>Icon Ordner wurde verschoben</li>
        <li>Links wurden bereinigt</li>
    </ul>
    <h2>V1.1.1</h2>
    <ul>
        <li>Dokumente wurde in Dateien umbenannt</li>
        <li>Bild für ein nicht vorhandenes Vorschaubild wurde abgeändert</li>
    </ul>
    <h2>V1.1.0 Production Test<span class="date">17.03.2020 um 16:00</span></h2>
    <ul>
        <li>Experimente können nur nach einer angegeben Vorlaufzeit gebucht werden</li>
        <li>Es wurde eine Willkommenseite hinzugefügt</li>
        <li>Neuste Datenmigration</li>
        <li>Die neusten Kommentare können eingesehen werden</li>
        <li>Es werden Emails bei der Reservierung versendet</li>
        <li>Es können Warnung und Infoboxen im Editor erstellt werden</li>
        <li>Es wurden Fehlerseiten hinzugefügt</li>
        <li>Es kann die Reihenfolge der Bilder verändert werden</li>
        <li>Kleinere Designverbesserungen</li>
    </ul>
    <h2>V1.0.9 Beta<span class="date">12.03.2020 um 9:00</span></h2>
    <ul>
        <li>Warnung beim stornieren</li>
        <li>Vor und Zurück Button bei den Experimenten</li>
        <li>Alternativer Änderungslog</li>
        <li>Pfeile beim Bilderkarussel</li>
        <li>Es wird ein Icon angezeigt, wenn das Experiment nicht sichtbar ist</li>
        <li>Nachricht, wenn ein neues Experiment oder Gerät erstellt wurde</li>
        <li>Kleinere Darstellungsfehler wurden behoben</li>
    </ul>
    <h2>V1.0.8 Beta<span class="date">9.03.2020 um 14:55</span></h2>
    <ul>
        <li>Darstellungsfehler wurden behoben</li>
        <li>Die Einheit wurde ergänzt</li>
    </ul>
    <h2>V1.0.7 Beta<span class="date">8.03.2020 um 15:05</span></h2>
    <ul>
        <li>Vorlesungen können nun auch ohne Experimente vorgemerkt werden</li>
        <li>Das Stornieren, storniert auch alle verknüpften Experimente</li>
        <li>Stornierte Vorlesungen können wieder durch neue Experimente reaktiviert werden</li>
        <li>Es stehen nur Vorlesungen zur Auswahl, welche noch nicht angefangen haben</li>
    </ul>
    <h2>V1.0.6 Beta<span class="date">7.03.2020 um 22:30</span></h2>
    <ul>
        <li>Experimente können in Vorlesungen gebucht werden</li>
    </ul>
    <h2>V1.0.5 Beta<span class="date">7.03.2020 um 14:10</span></h2>
    <ul>
        <li>Vorschaubild kann ausgewählt werden</li>
        <li>Kommentare können formatiert werden</li>
        <li>Regalbretter können gesucht werden (Das Zeichen "/" wurde nicht übernommen. Der Name muss komplett angegeben werden.)</li>
        <li>Weniger Spalten in der Geräteansicht</li>
        <li>Darstellungsfehler bei langen Wörtern wurden behoben</li>
        <li>Rechtschreibfehler in Sto<ins>r</ins>nieren wurde behoben</li>
    </ul>
    <h2>V1.0.4 Beta<span class="date">1.03.2020 um 23:10</span></h2>
    <ul>
        <li>Statistiken wurden hinzugefügt</li>
    </ul>
    <h2>V1.0.3 Beta<span class="date">1.03.2020 um 21:15</span></h2>
    <ul>
        <li>Nutzer können wieder erstellt werden</li>
    </ul>
    <h2>V1.0.2 Beta<span class="date">1.03.2020 um 20:00</span></h2>
    <ul>
        <li>Interne Projekt Neustrukturierung</li>
        <li>Kleinere Design Verbesserungen</li>
        <li>Filter wird erst beim Suchen angezeigt</li>
        <li>Details von Reservierungen können eingesehen werden</li>
        <li>Reservierungen können stoniert werden</li>
        <li>Status kann gesetzt werden</li>
    </ul>
    <h2>V1.0.1 Beta<span class="date">27.02.2020 um 19:30</span></h2>
    <ul>
        <li>Nutzerrollenauswahl</li>
        <li>Statusauswahl</li>
        <li>Kommentare löschen (Momentan nur von Admins)</li>
        <li>ID in Inventartitel</li>
        <li>Rollenbeschränkung fürs Buchen</li>
        <li>Kategorien können wieder angelegt werden</li>
        <li>"Anforderungen" wurde in "Gerätelabels" umbenannt</li>
        <li>Form Felder füllen wieder den Platz aus</li>
        <li>Die Bezeichner Beschreibung und Bemerkung wurden wieder entfernt</li>
        <li>Die Meldung für das Löschen in der Zwischenebene wurde korrigiert</li>
    </ul>
    <h2>V1.0.0 Beta<span class="date">24.02.2020 um 10:00</span></h2>
    <ul>
        <li>Buchungssystem wurde hinzugefügt</li>
        <li>Wahlmöglichkeit zwischen Listenansicht und Vorschaukarten bei Experimenten und Geräten</li>
        <li>Grafischer Editor zum Einfügen von Formatierungen bei bestimmten Feldern</li>
        <li>Bilder können zum Vergrößeren angeklickt werden</li>
        <li>Änderungsmanagement hinzugefügt. Änderungen an bestimmten Feldern bei Experimenten und Geräten bedürfen einer Bestätigung</li>
        <li>Kommentarfunktion bei Experimenten hinzugefügt</li>
        <li>Feld <q>Anzahl</q> eines Gerätes kann nur gesetzt werden, wenn keine Inventarnummer oder IFP Kennziffer eingegeben ist</li>
        <li>Zusätzliche Sicherheitsabfrage vor dem Löschen von Experimenten, Geräten und Nutzern</li>
        <li>Standorte können nachträglich bearbeitet werden</li>
        <li>Die Geräte-ID wird angezeigt</li>
        <li>Optische und technische Verbesserungen</li>
    </ul>
    <h2>V0.2.6 <span class="date">21.02.2020 um 8:30</span></h2>
    <ul>
        <li>Suche mit Wildcards</li>
        <li>Suche funktioniert von jeder Seite aus</li>
    </ul>
    <h2>V0.2.5 <span class="date">10.02.2020 um 10:00</span></h2>
    <ul>
        <li>Es wurde die Suche hinzugefügt</li>
        <li>Die Kategorien sind nun editierbar</li>
        <li>Die Rollen werden nun in der Nutzerübersicht angezeigt</li>
    </ul>
    <h2>V0.2.4 <span class="date">31.01.2020 um 18:00</span></h2>
    <ul>
        <li>Das Wort Reparatur wurde korrigiert</li>
        <li>Die Bezeichnung für die benötigten Gerätelabels wurde von Geräte in Anforderungen umbenannt</li>
        <li>Das Bilderkarussell ist nun endlich</li>
        <li>Entferne die Kommentare aus der Geräteansicht</li>
        <li>Hinweis in der Geräteansicht hinzugefügt, falls es in keinem Experiment Verwendung findet</li>
    </ul>
    <h2>V0.2.3 <span class="date">23.01.2020 um 16:55</span></h2>
    <ul>
        <li>Der Hintergrund wurde dunkler gemacht, um einen stärkeren Kontrast zu den Karten zu erreichen</li>
        <li>Die Zeilen in der Kategorienansicht werden umgebrochen, wenn sie zu lang sind um angezeigt zu werden</li>
        <li>Die Kategorien bleiben beim scrollen sichtbar</li>
        <li>Die Unterkategorien werden in der Detailansicht ausgeschrieben</li>
    </ul>
    <h2>V0.2.2 <span class="date">22.01.2020 um 20:28</span></h2>
    <ul>
        <li>Fehlermeldung in der Detailansicht wurde behoben, falls bei einem Experiment ein Label hinzugefügt wurde</li>
        <li>Aufzählungspunkte bei der Verfügbarkeitskarte werden nun korrekt angezeigt</li>
        <li>Die Kürzel Anzeige in der Experimenten Ansicht wird nun korrekt angezeigt</li>
    </ul>
    <h2>V0.2.1 <span class="date">22.01.2020 um 13:42</span></h2>
    <ul>
        <li>Es muss nicht mehr notwendigerweise angegeben werden, an wen ein Gerät verliehen wurde</li>
        <li>Es gibt einen Button, um von der Experimenten Detailansicht wieder zurück zur Gesamtübersicht zu kommen</li>
    </ul>
    <h2>V0.2.0 <span class="date">22.01.2020 um 12:47</span></h2>
    <ul>
        <li>Erste Datenmigration aus der alten Datenbank</li>
        <li>Benutzer können sich anmelden und Abmelden</li>
        <li>Inhalte werden nach Benutzerrechten angezeigt</li>
        <li>Objekte können nur noch im Bearbeitungsmodus gelöscht werden</li>
        <li>Sicherheitszeichen können hinzugefügt werden und werden in der Detailansicht und auf Vorschaukarten angezeigt</li>
        <li>Dunkles Design</li>
        <li>Kategorien können mit einem einfachen Klick geöffnet werden</li>
        <li>Vorschaukarten werden gleichgroß in einem Raster angezeigt</li>
        <li>Tabs für Beschreibung, Zuordnung, Kommentare und Dokumente</li>
        <li>Icons für Buttons</li>
        <li>Bilder werden mit originalen Seitenverhältnissen mit gleichgroßer Höhe in der Slideshow angezeigt</li>
        <li>Kreisdiagramme für Zeitangaben</li>
        <li>Punktevisualisierung für die Verfügbarkeit</li>
        <li>Labels können "on the fly" angelegt werden</li>
        <li>Labels können angeklickt werden, um verknüpfte Experimente und Geräte anzeigen zu lassen</li>
        <li>Aktionen für Vorschaukarten werden in einem Dropdownmenü versteckt</li>
        <li>Dokumente können mit nur einem Klick hinzugefügt werden</li>
        <li>Dokumente werden in Karten dargestellt</li>
        <li>Ansicht auf mobilen Endgeräten</li>
        <li>Das erste Bild wird jeweils in den Vorschaukarten angezeigt</li>
        <li>Felder im Bearbeitungsmodus werden mit Überschriften sortiert</li>
        <li>An wen ein Gerät verliehen wurde, kann mit einem Bild dokumentiert werden</li>
        <li>Es werden die Kürzel der Kategorien für die Experimente angezeigt</li>
    </ul>
    <h2>V0.1.0 <span class="date">19.12.2019 um 00:17</span></h2>
    <ul>
        <li>Nutzer
            <ul>
                <li>Gesamtübersicht</li>
                <li>Erstellung</li>
                <li>Löschen und Bearbeitung</li>
            </ul>
        </li>
        <li>Experimente
            <ul>
                <li>Gesamtübersicht</li>
                <li>Erstellung</li>
                <li>Kategorienseitenleiste</li>
                <li>Kategorien hinzufügen</li>
                <li>Detailansicht</li>
                <li>Löschen und Bearbeitung</li>
            </ul>
        </li>
        <li>Geräte
            <ul>
                <li>Gesamtübersicht</li>
                <li>Erstellung</li>
                <li>Standort hinzufügen</li>
                <li>Detailansicht</li>
                <li>Löschen und Bearbeitung</li>
            </ul>
        </li>
        <li>Labels
            <ul>
                <li>Erstellung</li>
                <li>Anfügen von Labels bei Experimenten und Geräten</li>
            </ul>
        </li>
    </ul>
{% endblock %}
