{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% set main_title = item.name|default("???") %}

{% block page_buttons %}
<a href="{{ app.request.pathinfo }}/edit">{% include('/icons/edit.svg') %}</a>
<a href="{{ app.request.pathinfo }}/delete">Löschen</a>
{% endblock %}

{% block content %}
    {% if item.inventorynumber is defined %}
    <div class="inline_container">
        {% for label in item.labels %}
            {% include 'label/label.html.twig' %}
        {% endfor %}
    </div>
    {% endif %}
    {% if item.documents is defined %}
    <div class="slider">
        {% for documents in item.documents %}
            {% if 'image' in documents.typ %}
                <div class="card"><img src="{{ vich_uploader_asset(documents, 'imageFile') }}" alt="{{ documents.comment }}" height="350px"/></div>
            {% elseif 'video' in documents.typ %}
                <div><video height="350px" controls><source src="{{ vich_uploader_asset(documents, 'imageFile') }}"></video></div>
            {% elseif 'pdf' in documents.typ %}
                <div><iframe src="{{ vich_uploader_asset(documents, 'imageFile') }}">
                    </iframe></div>
            {% else %}
                <div><a href="{{ vich_uploader_asset(documents, 'imageFile') }}">Download {{ documents.name }}</a></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="content_container">
        {{ item.description|default(device.comment|default("???"))|markdown }}
    </div>
    <div class="inline_container">
        {% if item.preparationTime is defined %}
            {% include 'duration_clock.html.twig' with {'duration': item.preparationTime, 'title':'Vorbereitung'} %}
            {% include 'duration_clock.html.twig' with {'duration': item.executionTime, 'title':'Durchführung'} %}
        {% endif %}
        {% if item.inventorynumber is defined %}
        <div class="card info_card">
            <div>Inventarnummer</div>
            <div style="font-size: 200%;">{{item.inventorynumber}}</div>
            <div></div>
        </div>
        {% include 'count_card.html.twig' with {'count': item.amount, 'loaned': item.loaned, 'repair': item.repair} %}
        <div class="card info_card">
            <div>Bestellnummer</div>
            <div style="font-size: 200%;">{{item.ordernumber}}</div>
            <div></div>
        </div>
        <div class="card info_card">
            <div>Hersteller</div>
            <div style="font-size: 200%;">{{item.supplier}}</div>
            <div></div>
        </div>
        <div class="card info_card">
            <div>IFP Code</div>
            <div style="font-size: 200%;">{{item.ifpcode}}</div>
            <div></div>
        </div>
        <div class="card info_card">
            <div>Standort</div>
            <div>
                <div>{{ item.locationMappings.location.name }}</div>
                <div style="font-size: 200%;">{{ item.locationMappings.location.building }}/{{ item.locationMappings.location.roomnumber }}</div>
                <div>{{ item.locationMappings.shelf }}</div>
            </div>
            <div></div>
        </div>
        {% endif %}
    </div>
    {% if item.preparationTime is defined %}
    <h2>Geräte</h2>
    {% for label in item.labels %}
        {% include 'label/label.html.twig' %}
        {% if label.devices is empty %}
            <strong>Es wurden keine passenden Geräte unter diesem Label gefunden!</strong>
        {% else %}
        <div class="preview_card_container">
            {% for item in label.devices %}
                {% include 'preview_card.html.twig' with {'title': item.name|default(''), 'description': item.description, 'id': item.id} %}
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            prevArrow: '<button type="button" class="slick-prev"></button>',
            nextArrow: '<button type="button" class="slick-next"></button>'
        });
    </script>
{% endblock %}
