{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% set main_title = '' %}

{% block page_buttons %}
{% endblock %}

{% block content %}
    <div class="wrapper">
    <div class="row">
        <div id="flex" class="column">
            <h2>Neue Experimente</h2>
            <div id="experiment_show">
                {% for item in items %}
                    <div id="exp_img">
                        {% include 'preview_card.html.twig' with {'type': 'experiment', 'title': item.name|default(''), 'description': item.description, 'id': item.id}%}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="welcome_column" class="column">
            <div id="welcome">
                {% if is_granted('ROLE_USER') %}
                <h2>Herzlich Willkommen,
                    {{ app.user.username }}!</h2>
                {% else %}
                <h2>Herzlich Willkommen! </h2>
                {% endif %}
                <div class="welcome_field">
                    {% include('/icons/database_white.svg') %}
                </div>
            </div>
            <div id="contact">
                <h2>Kontakt</h2>
                <div class="welcome_field">
                    <h3>Vorlesungsassistenz Physik</h3>
                    <p>Technische Universität <br> Darmstadt</p>
                    <img src="images/icons/address.svg" alt="mail address vla">
                </div>
            </div>
        </div>

        <div id="flex" class="column">
            <h2>Hilfen zur Nutzung</h2>
               <div class="explanation">
                    <div class="tab">
                        <button class="tablinks" onclick="openExplanation('guest')">Gast</button>
                        <button class="tablinks" onclick="openExplanation('user')">Dozent</button>
                        <button class="tablinks" onclick="openExplanation('faq')">FAQ</button>
                        <button class="tablinks" onclick="openExplanation('gbu')">Gefährdungsbeurteilung</button>
                    </div>


                   <div class="role_explanation">
                       <div id="guest" class="role">
{#                           <h3>Experimente</h3>#}
{#                           <img src="images/explanations/experiment.png" alt="category menu" width="100%">#}
{#                           <p></p>#}

                           <h3>Kategorien</h3>
                           <img src="images/explanations/category.png" alt="category menu" width="100%">
                           <p>Die Auswahl der gewünschten Kategorie ist über das linke Menü möglich. Je genauer die Kategorie ausgewählt wird, desto weniger Experimente werden angezeigt.</p>

                           <h3>Listen- und Kachelansicht</h3>
                           <img src="images/explanations/switch.png" alt="switch view" width="100%">
                           <p>Das Umschalten der Ansicht von: <br><br><strong>Listenansicht</strong>: nur Experimentnummer und -titel in einer schnell überschaubaren Liste <br><br> auf <br><br><strong>Kachelansicht</strong>: eine Liste mit Vorschaubildern und gewissen Details zum Experiment
                           <br><br> wird durch einen Klick auf den Button in der rechten, oberen Ecke erreicht.</p>

                           <h3>Experimente-Detailansicht</h3>
                           <img src="images/explanations/detail.png" alt="detail" width="100%">
                           <p>Durch Anklicken des <strong>Anzeigen</strong>-Buttons oder des gewünschten Experiments gelangt man zur Detailseite. <br>Dort sind Bilder und Beschreibungen zum jeweiligen Experiment hinterlegt.</p>

                           <h3>Suchfunktion</h3>
                           <img src="images/explanations/search.png" alt="search" width="100%">
                           <p>Über die Suchleiste ist ein Durchsuchen der Experimente mittels Stichwörtern und Wildcards möglich, dabei werden Experimentname, Beschreibungstext und Bemerkung durchsucht.
                               <br><br> <strong>Wildcards</strong>: ersetzen Teile einer Suchanfrage - beispielsweise findet <em>glüh%</em> nicht nur <em>Glühbirne</em> sondern auch <em>Glühdraht</em>.</p>
                       </div>


                       <div id="user" class="role" style="display:none">
                           {% if is_granted('ROLE_USER') %}
                                <h3>Grundlegendes</h3>
                                <p>Bitte beachten Sie ebenfalls die Erklärungen im Tab <strong>Gast</strong>.</p>

                                <h3>Dokumente</h3>
                                <img src="images/explanations/documents.png" alt="documents" width="100%">
                                <p>Im Tab <strong>Dokumente</strong> finden Sie zu einem bestimmten Experiment alle Dateien, ausgenommen Bilder. <br>
                                    Unter anderem Aufzeichnungen der Durchführung eines Experiments, Messdaten oder Texte und PDF.</p>

                                <h3>Kommentare</h3>
                                <img src="images/explanations/comments.png" alt="comments" width="100%">
                                <p>Hier können Sie einen Kommentar zu einem bestimmten Experiment abgeben - beispielsweise eine Anmerkung oder kurze Frage.</p>

                                <h3>Buchen eines Experiments</h3>
                                <img src="images/explanations/reservation_button.png" alt="reservation part 1" width="100%">
                                <p>Jedes Experiment hat oben rechts einen <strong>Buchen</strong>-Button, mit dem das Experiment auf eine Merkliste geschrieben wird. <br>
                                Diese Merkliste ist unter <strong>Buchungen</strong> zu finden.<br>Es können mehrere Experimente gleichzeitig gebucht werden.</p>

                               <h3>Kalender</h3>
                               <img src="images/explanations/reservation_calendar.png" alt="calendar" width="100%">
                               <p>Im Kalender (ebenfalls unter <strong>Buchungen</strong> zu finden) ist eine Übersicht über die gebuchten Vorlesungs- und Vorführungstermine der nächsten Wochen und Monate zu finden.<br>
                               Durch den Klick auf einen Termin gelangt man zur Buchungs-Detailseite.</p>

                               <h3>Buchungs-Details</h3>
                               <img src="images/explanations/reservation_detail.png" alt="reservation detail" width="100%">
                               <p>Auf dieser Seite sehen Sie noch einmal im Detail die gebuchten Experimente, das gebuchte Datum und den Status der Buchung (gebucht oder storniert) und können einzelne Experimente nachträglich entfernen oder sich Details zum Experiment anzeigen lassen.</p>

                                <h3>Abschließen der Buchung</h3>
                                <img src="images/explanations/reservation.png" alt="reservation part 2" width="100%">
                               <p>Über <strong>Buchungen</strong> gelangen Sie auf die eigene Buchungsseite.<br>Hier können die Experimente auf der Merkliste für einen bestimmten Termin gebucht werden.
                                   Entweder legen Sie dazu eine <br><strong>Neue Vorlesung</strong> an oder wählen über das Menü eine bereits gebuchte Vorlesung aus, zu der die Experimente zusätzlich hinzugefügt
                                       werden sollen.<br> Abgeschlossen wird die Buchung über den grünen <strong>Buchen</strong>-Button.</p>

                                <h3>Stornieren eines einzelnen Experiments</h3>
                               <img src="images/explanations/reservation_detail_cancel.png" alt="reservation detail cancel" width="100%">
                               <p><br>Über den <strong>Entfernen</strong>-Button können einzelne Experimente storniert werden, der Termin bleibt allerdings gebucht.<br>Neue Experimente können jederzeit hinzugefügt werden. </p>

                                <h3>Stornieren einer Buchung</h3>
                                <img src="images/explanations/cancelling.png" alt="cancelling" width="100%">
                                <p>Über den <strong>Stornieren</strong>-Button in der oberen Seitenleiste kann der gesamte Termin storniert werden</p>

                                <h3>Profil</h3>
                                <img src="images/explanations/profile.png" alt="profile" width="100%">
                                <p>Über den <strong>Profil</strong>-Button mit Ihrem Usernamen rechts oben gelangen Sie zu Ihrem Profil.<br> Hier können Sie Ihre angegebene E-Mail-Adresse, ihren Usernamen sowie Ihr Kennwort ändern.</p>



                           {% else %}
                               <h3>Einloggen</h3>
                               <img src="images/explanations/login.png" alt="login how to" width="100%">
                               <p>Zum Einloggen melden Sie sich bitte mit Ihrem Benutzernamen und Ihrem Kennwort an.</p>
                               <p><strong>Kennwort vergessen oder Schwierigkeiten beim einloggen?</strong>
                                   Bitte melden Sie sich bei der Vorlesungsassistenz Physik.</p>
                               <div class="warning">Bitte loggen Sie sich ein, um den Rest dieser Seite zu sehen.</div>
                           {% endif %}
                       </div>
                       <div id="faq" class="role" style="display:none">
{#                           Das ist die FAQ-Seite! :)#}
                           <h3>Kennwort oder Username vergessen?</h3>
                           <p>Bitte wenden Sie sich an die Vorlesungsassistenz Physik, die Kontaktadresse finden Sie auf der Startseite.</p>

                           <h3>Sind die Kommentare öffentlich einsehbar?</h3>
                           <p>Nur eingeloggte Nutzer (Dozenten, Vorlesungsassistenz, Assistenten) können die Kommentare lesen. <br>
                           Die Vorlesungsassistenz wird über jeden Kommentar benachrichtigt, um schnellstmöglich darauf reagieren zu können.</p>

                           <h3>Das Umschalten zwischen Listen- und Kachelansicht klappt nicht?</h3>
                           <p>Bitte auf den mittleren Button selbst, nicht die Bilder am Rand klicken.</p>

                           <h3>Welches Wildcard-Zeichen nutzt die Suchfunktion?</h3>
                           <p>Über die Suchleiste ist ein Durchsuchen der Experimente mittels Stichwörtern und Wildcards möglich, dabei werden Experimentname, Beschreibungstext und Bemerkung durchsucht.
                               <br><br> <strong>Wildcards</strong>: ersetzen Teile einer Suchanfrage - beispielsweise findet <em>glüh%</em> nicht nur <em>Glühbirne</em> sondern auch <em>Glühdraht</em>.</p>

                       </div>
                       <div id="gbu" class="role" style="display:none">
                           {% if is_granted('ROLE_USER') %}
                               <h3>Gefährdungsbeurteilung</h3>
                                   <iframe src="documents/gefaehrdungsbeurteilung.pdf" width="100%" height="400" style="border: none;">
                                       This browser does not support PDFs. Please download the PDF to view it:
                                       <a href="documents/gefaehrdungsbeurteilung.pdf">Download: Gefährdungsbeurteilung.pdf</a>
                                   </iframe>
                           {% else %}
                               <div class="warning">Bitte loggen Sie sich ein, <br> um diese Seite zu sehen.</div>
                           {% endif %}
                       </div>
                   </div>
                </div>
        </div>
    </div>
    </div>


    <script type="text/javascript">
        function openExplanation(role) {
            var i;
            var x = document.getElementsByClassName("role");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(role).style.display = "block";
        }
    </script>
{% endblock %}
