{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}

{% extends "base.html.twig" %}

{% set main_title = label.name %}

{% block page_buttons %}
    <a href="{{ app.request.pathinfo }}/edit">{% include('/icons/ic_mode_edit_48px.svg') %}</a>
    <a href="{{ app.request.pathinfo }}/delete">Löschen</a>
{% endblock %}

{% block content %}
    <h2>Geräte</h2>
    {% if label.devices is empty %}
    <div class="warning">Es wurden keine passenden Geräte unter diesem Label gefunden!</div>
    {% else %}
    <div class="preview_card_container">
        {% for item in label.devices %}
            {% include 'preview_card.html.twig' with {'type': 'device', 'title': item.name|default(''), 'description': item.description, 'id': item.id} %}
        {% endfor %}
    </div>
    {% endif %}
    <h2>Experimente</h2>
    {% if label.experiments is empty %}
    <div class="warning">Es wurden keine passenden Experimente unter diesem Label gefunden!</div>
    {% else %}
    <div class="preview_card_container">
        {% for item in label.experiments %}
            {% include 'preview_card.html.twig' with {'type': 'experiment', 'title': item.name|default(''), 'description': item.description, 'id': item.id} %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
