{#  datenbank-physik
    Copyright (C) 2020  Christian Seybert, Jan-Philipp Rogge, Jacob Benz, Alexander Hartmann, Sarah Schirmacher
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. #}


{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div>
            <br>
            <h1 style="font-size: 28px">
                <a>{% include('/icons/ic_info_icon.svg') %}</a>
                Ein Fehler ist aufgetreten!
            </h1>
        </div>
        <hr>
        <hr>
        <br>
        <div class="title_container">
            <table>
                <tr>
                    <td>
                        <h3>Fehlercode:</h3>
                    </td>
                    <td>
                        <h3>HTTP: {{ status_code }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Beschreibung:</h3>
                    </td>
                    <td>
                        <h3>"{{ exception.message }}"</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
