<svg width="{{ size }}px" height="{{ size }}px" style="stroke: none;">
    <circle r="{{ size * 0.5}}" cx="{{ size * 0.5}}" cy="{{ size * 0.5}}" style="fill: #171a1f"/>
    {% if status == 1 %}
    <circle r="{{ size * 0.3}}" cx="{{ size * 0.5}}" cy="{{ size * 0.5}}" style="fill: #9c9eec"/>
    {% elseif status == 2 %}
    <circle r="{{ size * 0.3}}" cx="{{ size * 0.5}}" cy="{{ size * 0.5}}" style="fill: rgb(255,46,46)"/>
    {% endif %}
</svg>